In [1]:
def clean_stuff(df):
    df.drop(['SimFinId', 'Currency'], inplace= True, errors='ignore', axis=1)
    df = df.groupby(['Ticker','Fiscal Year']).mean().dropna().astype(int)
    return df

In [2]:
import pandas as pd 
from pathlib import Path
from pandas.plotting import scatter_matrix

In [3]:
def re_index(df):
    df = df.reset_index(inplace=True)
    return df

In [4]:
def merge_df(df1_one, df_two):
    df_ret = pd.DataFrame()
    df_ret  = df1_one.merge(df_two, on='Ticker')
    df_ret.drop(columns=['Fiscal Year_y'], inplace=True, errors='ignore')
    return df_ret

In [5]:
us_balance_annual = pd.read_csv(
    Path('us-balance-annual.csv'),
    parse_dates=True,
    infer_datetime_format=True,
    delimiter=';')

In [6]:
balance_data = clean_stuff(us_balance_annual)
balance_data.head()

                    Shares (Basic)  Shares (Diluted)  \
Ticker Fiscal Year
A      2009              346000000         346000000
       2010              347000000         353000000
       2011              347000000         355000000
       2012              348000000         353000000
       2016              326000000         329000000

                    Cash, Cash Equivalents & Short Term Investments  \
Ticker Fiscal Year
A      2009                                             -2147483648
       2010                                             -2147483648
       2011                                             -2147483648
       2012                                             -2147483648
       2016                                             -2147483648

                    Accounts & Notes Receivable  Inventories  \
Ticker Fiscal Year
A      2009                           595000000    552000000
       2010                           869000000    716000000
       2011                           860000000    898000000
       2012                           923000000   1014000000
       2016                           631000000    533000000

                    Total Current Assets  Property, Plant & Equipment, Net  \
Ticker Fiscal Year
A      2009                  -2147483648                         845000000
       2010                  -2147483648                         980000000
       2011                  -2147483648                        1006000000
       2012                  -2147483648                        1164000000
       2016                  -2147483648                         639000000

                    Long Term Investments & Receivables  \
Ticker Fiscal Year
A      2009                                   163000000
       2010                                   142000000
       2011                                   117000000
       2012                                   109000000
       2016                                   135000000

                    Other Long Term Assets  Total Noncurrent Assets  ...  \
Ticker Fiscal Year                                                   ...
A      2009                    -2147483648              -2147483648  ...
       2010                    -2147483648              -2147483648  ...
       2011                    -2147483648              -2147483648  ...
       2012                    -2147483648              -2147483648  ...
       2016                    -2147483648              -2147483648  ...

                    Short Term Debt  Total Current Liabilities  \
Ticker Fiscal Year
A      2009                 1000000                 1123000000
       2010              1501000000                -2147483648
       2011               253000000                 1837000000
       2012               250000000                 1893000000
       2016                       0                  945000000

                    Long Term Debt  Total Noncurrent Liabilities  \
Ticker Fiscal Year
A      2009            -2147483648                   -2147483648
       2010            -2147483648                   -2147483648
       2011             1932000000                   -2147483648
       2012             2112000000                   -2147483648
       2016             1904000000                   -2147483648

                    Total Liabilities  \
Ticker Fiscal Year
A      2009                 803032704
       2010               -2129934592
       2011                 446032704
       2012                1056032704
       2016                -746967296

                    Share Capital & Additional Paid-In Capital  \
Ticker Fiscal Year
A      2009                                        -2147483648
       2010                                        -2147483648
       2011                                        -2147483648
       2012                                        -2147483648
       2016                                        -2147483648

                    Treasury Stock  Retained Earnings  Total Equity  \
Ticker Fiscal Year
A      2009            -2147483648        -2147483648   -2147483648
       2010            -2147483648        -2147483648   -2147483648
       2011            -2147483648        -2147483648   -2147483648
       2012            -2147483648        -2147483648   -2147483648
       2016            -2147483648        -2147483648   -2147483648

                    Total Liabilities & Equity
Ticker Fiscal Year
A      2009                         -977934592
       2010                         1106065408
       2011                          467065408
       2012                         1946065408
       2016                         -795934592

[5 rows x 22 columns]

In [64]:
balance_sheet_cash_equal = balance_data[["Cash, Cash Equivalents & Short Term Investments", 
                                  "Accounts & Notes Receivable", 
                                  'Treasury Stock', 
                                  'Retained Earnings']]
balance_sheet_cash_equal

                    Cash, Cash Equivalents & Short Term Investments  \
Ticker Fiscal Year
A      2009                                             -2147483648
       2010                                             -2147483648
       2011                                             -2147483648
       2012                                             -2147483648
       2016                                             -2147483648
...                                                             ...
XRX    2012                                              1246000000
       2013                                              1764000000
       2014                                              1411000000
       2018                                              1084000000
ZAGG   2012                                                20177000

                    Accounts & Notes Receivable  Treasury Stock  \
Ticker Fiscal Year
A      2009                           595000000     -2147483648
       2010                           869000000     -2147483648
       2011                           860000000     -2147483648
       2012                           923000000     -2147483648
       2016                           631000000     -2147483648
...                                         ...             ...
XRX    2012                         -2147483648      -104000000
       2013                         -2147483648      -252000000
       2014                         -2147483648      -105000000
       2018                          1276000000       -55000000
ZAGG   2012                            54561000               0

                    Retained Earnings
Ticker Fiscal Year
A      2009               -2147483648
       2010               -2147483648
       2011               -2147483648
       2012               -2147483648
       2016               -2147483648
...                               ...
XRX    2012               -2147483648
       2013               -2147483648
       2014               -2147483648
       2018               -2147483648
ZAGG   2012                  47454000

[1265 rows x 4 columns]

In [98]:
balance_sheet_tanglibles = balance_data[
    ['Total Current Assets',
      "Property, Plant & Equipment, Net",
      "Retained Earnings", 
      "Total Equity"]]

balance_sheet_tanglibles

                    Total Current Assets  Property, Plant & Equipment, Net  \
Ticker Fiscal Year
A      2009                  -2147483648                         845000000
       2010                  -2147483648                         980000000
       2011                  -2147483648                        1006000000
       2012                  -2147483648                        1164000000
       2016                  -2147483648                         639000000
...                                  ...                               ...
XRX    2012                  -2147483648                        2091000000
       2013                  -2147483648                        2025000000
       2014                  -2147483648                        1648000000
       2018                  -2147483648                         941000000
ZAGG   2012                    131185000                           4862000

                    Retained Earnings  Total Equity
Ticker Fiscal Year
A      2009               -2147483648   -2147483648
       2010               -2147483648   -2147483648
       2011               -2147483648   -2147483648
       2012               -2147483648   -2147483648
       2016               -2147483648   -2147483648
...                               ...           ...
XRX    2012               -2147483648   -2147483648
       2013               -2147483648   -2147483648
       2014               -2147483648   -2147483648
       2018               -2147483648   -2147483648
ZAGG   2012                  47454000     124662000

[1265 rows x 4 columns]

#

In [99]:
balance_sheet_intanglibles = balance_data[
    ['Treasury Stock', 
     'Long Term Investments & Receivables', 
     'Shares (Basic)', 
     'Shares (Diluted)']]

balance_sheet_intanglibles

                    Treasury Stock  Long Term Investments & Receivables  \
Ticker Fiscal Year
A      2009            -2147483648                            163000000
       2010            -2147483648                            142000000
       2011            -2147483648                            117000000
       2012            -2147483648                            109000000
       2016            -2147483648                            135000000
...                            ...                                  ...
XRX    2012             -104000000                           1381000000
       2013             -252000000                           1285000000
       2014             -105000000                           1338000000
       2018              -55000000                           1403000000
ZAGG   2012                      0                              2013000

                    Shares (Basic)  Shares (Diluted)
Ticker Fiscal Year
A      2009              346000000         346000000
       2010              347000000         353000000
       2011              347000000         355000000
       2012              348000000         353000000
       2016              326000000         329000000
...                            ...               ...
XRX    2012              325513250         332296000
       2013              306371500         318381750
       2014              288591250         292899250
       2018              248707000         251660000
ZAGG   2012               30339000          31656000

[1265 rows x 4 columns]

In [100]:
balance_data_neg = balance_data[
    ["Inventories",
     "Share Capital & Additional Paid-In Capital", 
     "Payables & Accruals", "Total Noncurrent Liabilities", 
     "Long Term Debt", 
     'Total Liabilities & Equity', 
     'Total Current Liabilities']]

balance_data_neg

                    Inventories  Share Capital & Additional Paid-In Capital  \
Ticker Fiscal Year
A      2009           552000000                                 -2147483648
       2010           716000000                                 -2147483648
       2011           898000000                                 -2147483648
       2012          1014000000                                 -2147483648
       2016           533000000                                 -2147483648
...                         ...                                         ...
XRX    2012          1011000000                                 -2147483648
       2013           998000000                                 -2147483648
       2014           934000000                                 -2147483648
       2018           818000000                                 -2147483648
ZAGG   2012            39988000                                    77265000

                    Payables & Accruals  Total Noncurrent Liabilities  \
Ticker Fiscal Year
A      2009                   307000000                   -2147483648
       2010                   499000000                   -2147483648
       2011                   472000000                   -2147483648
       2012                   461000000                   -2147483648
       2016                   257000000                   -2147483648
...                                 ...                           ...
XRX    2012                 -2147483648                   -2147483648
       2013                 -2147483648                   -2147483648
       2014                 -2147483648                   -2147483648
       2018                  1440000000                   -2147483648
ZAGG   2012                    28397000                      17434000

                    Long Term Debt  Total Liabilities & Equity  \
Ticker Fiscal Year
A      2009            -2147483648                  -977934592
       2010            -2147483648                  1106065408
       2011             1932000000                   467065408
       2012             2112000000                  1946065408
       2016             1904000000                  -795934592
...                            ...                         ...
XRX    2012            -2147483648                   -49771072
       2013            -2147483648                 -1028771072
       2014            -2147483648                  1888196224
       2018            -2147483648                  1989098112
ZAGG   2012               17434000                   206085000

                    Total Current Liabilities
Ticker Fiscal Year
A      2009                        1123000000
       2010                       -2147483648
       2011                        1837000000
       2012                        1893000000
       2016                         945000000
...                                       ...
XRX    2012                       -2147483648
       2013                       -2147483648
       2014                       -2147483648
       2018                       -2147483648
ZAGG   2012                          63989000

[1265 rows x 7 columns]

In [101]:
share_price_data = us_shareprice_df.groupby(['Date','Ticker']).mean()
share_price_data = pd.DataFrame(ticker_data_w['Adj. Close'])
share_price_data

KeyError: 'Adj. Close'

In [ ]:


us_shareprice_df = pd.read_csv(
    Path('us-shareprices-daily.csv'),
    
    parse_dates=True,
    infer_datetime_format=True,
    delimiter=';'
)

us_shareprice_df.head()

In [ ]:
ticker_data_w = us_shareprice_df.groupby(['Ticker','Date']).mean()
ticker_data_w = pd.DataFrame(ticker_data_w['Close'])
ticker_data_w

In [ ]:
test_tickers = ticker_data_w.loc[['CNK','DISH','ABBV','BA','TAP']]

In [ ]:
test_tickers.pct_change().dropna().plot()

In [ ]:
titas_tech_tickers = ticker_data_w.loc[['HP','AMD','MU','AME','IBM']]

In [ ]:
titas_tech_tickers.pct_change().dropna().plot()

for example df.loc[df['date_column'] > date_1 & df['date_column'] < date_2]

In [128]:
balance_sheet_cash_equal_new = balance_sheet_cash_equal.loc[['CNK','DISH','ABBV','BA','TAP']]
balance_sheet_cash_equal_new

                    Cash, Cash Equivalents & Short Term Investments  \
Ticker Fiscal Year
CNK    2010                                               464997000
       2011                                               521408000
       2012                                               742664000
       2013                                               599929000
       2014                                               638869000
       2015                                               588539000
       2016                                               561235000
       2017                                               522547000
       2018                                               426222000
       2019                                               488313000
DISH   2008                                               559132000
       2009                                              2139336000
       2010                                             -2147483648
       2011                                              2040853000
       2012                                             -2147483648
       2013                                             -2147483648
       2014                                             -2147483648
       2015                                              1611069000
ABBV   2013                                             -2147483648
       2014                                             -2147483648
       2015                                             -2147483648
       2016                                             -2147483648
       2017                                             -2147483648
       2018                                             -2147483648
       2019                                             -2147483648
BA     2008                                             -2147483648
       2009                                             -2147483648
       2010                                             -2147483648
       2011                                             -2147483648
       2012                                             -2147483648
       2013                                             -2147483648
       2014                                             -2147483648
       2015                                             -2147483648
       2016                                             -2147483648
       2017                                             -2147483648
       2018                                             -2147483648
       2019                                             -2147483648
TAP    2010                                              1217600000
       2011                                              1078900000
       2012                                               624000000
       2013                                               442300000
       2014                                               624600000
       2015                                               430900000

                    Accounts & Notes Receivable  Treasury Stock  \
Ticker Fiscal Year
CNK    2010                            50607000       -44725000
       2011                            54757000       -45219000
       2012                            57122000       -48482000
       2013                            81519000       -51946000
       2014                            47917000       -61807000
       2015                            74287000       -66577000
       2016                            74993000       -73411000
       2017                            89250000       -76354000
       2018                            95084000       -79259000
       2019                            83722000       -81567000
DISH   2008                           820709000     -1443786000
       2009                           779871000     -1462380000
       2010                           786053000     -1569459000
       2011                           794817000     -1569459000
       2012                           860715000     -1569459000
       2013                           957518000     -1569459000
       2014                           951493000     -1569459000
       2015                           864028000     -1569459000
ABBV   2013                         -2147483648      -320000000
       2014                         -2147483648      -972000000
       2015                         -2147483648     -2147483648
       2016                         -2147483648     -2147483648
       2017                         -2147483648     -2147483648
       2018                         -2147483648     -2147483648
       2019                         -2147483648     -2147483648
BA     2008                         -2147483648     -2147483648
       2009                         -2147483648     -2147483648
       2010                         -2147483648     -2147483648
       2011                         -2147483648     -2147483648
       2012                         -2147483648     -2147483648
       2013                         -2147483648     -2147483648
       2014                         -2147483648     -2147483648
       2015                         -2147483648     -2147483648
       2016                         -2147483648     -2147483648
       2017                         -2147483648     -2147483648
       2018                         -2147483648     -2147483648
       2019                         -2147483648     -2147483648
TAP    2010                           503800000               0
       2011                           529900000      -321100000
       2012                           608300000      -321100000
       2013                           572800000      -321100000
       2014                           488900000      -321100000
       2015                           407900000      -471400000

                    Retained Earnings
Ticker Fiscal Year
CNK    2010                    388000
       2011                  34423000
       2012                 106111000
       2013                 147764000
       2014                 224219000
       2015                 324632000
       2016                 453679000
       2017                 582222000
       2018                 686459000
       2019                 687332000
DISH   2008               -2147483648
       2009               -2147483648
       2010               -1834619000
       2011               -1211990000
       2012               -1028193000
       2013                -220701000
       2014                 723992000
       2015                1471084000
ABBV   2013                1567000000
       2014                 535000000
       2015               -2147483648
       2016               -2147483648
       2017               -2147483648
       2018               -2147483648
       2019               -2147483648
BA     2008               -2147483648
       2009               -2147483648
       2010               -2147483648
       2011               -2147483648
       2012               -2147483648
       2013               -2147483648
       2014               -2147483648
       2015               -2147483648
       2016               -2147483648
       2017               -2147483648
       2018               -2147483648
       2019               -2147483648
TAP    2010               -2147483648
       2011               -2147483648
       2012               -2147483648
       2013               -2147483648
       2014               -2147483648
       2015               -2147483648

In [102]:
titas_balance_sheet_cash_equal = balance_sheet_cash_equal.loc[['HP','AMD','MU','AME','IBM']]
titas_balance_sheet_cash_equal

                    Cash, Cash Equivalents & Short Term Investments  \
Ticker Fiscal Year
HP     2008                                               121513000
       2009                                               108642000
       2011                                               364246000
       2012                                                96095000
       2013                                               447868000
       2014                                               360909000
       2015                                               774927000
AMD    2011                                              1765000000
       2012                                              1002000000
       2013                                              1097000000
       2015                                               785000000
       2016                                              1264000000
       2017                                              1185000000
       2018                                              1156000000
MU     2014                                             -2147483648
       2015                                             -2147483648
       2016                                             -2147483648
       2017                                             -2147483648
       2018                                             -2147483648
       2019                                             -2147483648
AME    2008                                                91210000
       2009                                               251350000
       2010                                               168853000
       2011                                               170392000
       2012                                               157984000
       2013                                               295203000
       2014                                               377615000
       2015                                               381005000
       2016                                               717259000
       2017                                               646300000
       2018                                               353975000
       2019                                               393030000
IBM    2008                                             -2147483648
       2009                                             -2147483648
       2010                                             -2147483648
       2011                                             -2147483648
       2012                                             -2147483648
       2013                                             -2147483648
       2014                                             -2147483648
       2015                                             -2147483648
       2016                                             -2147483648
       2017                                             -2147483648
       2018                                             -2147483648
       2019                                             -2147483648

                    Accounts & Notes Receivable  Treasury Stock  \
Ticker Fiscal Year
HP     2008                           462833000       -35654000
       2009                           233949000       -31129000
       2011                           460540000        -4704000
       2012                           620489000       -84104000
       2013                           621420000       -91098000
       2014                           705214000      -112969000
       2015                           445948000      -182363000
AMD    2011                           919000000      -107000000
       2012                           630000000      -109000000
       2013                           832000000      -112000000
       2015                           533000000      -123000000
       2016                           311000000      -119000000
       2017                           400000000      -108000000
       2018                          1235000000       -50000000
MU     2014                         -2147483648               0
       2015                         -2147483648      -881000000
       2016                          2068000000     -1029000000
       2017                         -2147483648       -67000000
       2018                         -2147483648      -429000000
       2019                         -2147483648     -2147483648
AME    2008                           406012000       -92033000
       2009                           331383000       -83333000
       2010                           399913000      -153551000
       2011                           438245000      -209773000
       2012                           507850000      -211374000
       2013                           536701000      -215936000
       2014                           585462000      -457807000
       2015                           603295000      -885430000
       2016                           592326000     -1211539000
       2017                           668176000     -1209135000
       2018                           732839000     -1570184000
       2019                           744760000     -1574464000
IBM    2008                         -2147483648     -2147483648
       2009                         -2147483648     -2147483648
       2010                         -2147483648     -2147483648
       2011                         -2147483648     -2147483648
       2012                         -2147483648     -2147483648
       2013                         -2147483648     -2147483648
       2014                         -2147483648     -2147483648
       2015                         -2147483648     -2147483648
       2016                         -2147483648     -2147483648
       2017                         -2147483648     -2147483648
       2018                         -2147483648     -2147483648
       2019                         -2147483648     -2147483648

                    Retained Earnings
Ticker Fiscal Year
HP     2008                2082518000
       2009               -2147483648
       2011               -2147483648
       2012               -2147483648
       2013               -2147483648
       2014               -2147483648
       2015               -2147483648
AMD    2011               -2147483648
       2012               -2147483648
       2013               -2147483648
       2015               -2147483648
       2016               -2147483648
       2017               -2147483648
       2018               -2147483648
MU     2014               -2147483648
       2015               -2147483648
       2016               -2147483648
       2017               -2147483648
       2018               -2147483648
       2019               -2147483648
AME    2008                1320470000
       2009                1500471000
       2010                1755742000
       2011                2101615000
       2012               -2147483648
       2013               -2147483648
       2014               -2147483648
       2015               -2147483648
       2016               -2147483648
       2017               -2147483648
       2018               -2147483648
       2019               -2147483648
IBM    2008               -2147483648
       2009               -2147483648
       2010               -2147483648
       2011               -2147483648
       2012               -2147483648
       2013               -2147483648
       2014               -2147483648
       2015               -2147483648
       2016               -2147483648
       2017               -2147483648
       2018               -2147483648
       2019               -2147483648

In [103]:
[['CNK','DISH','ABBV','BA','TAP']]
[['HP','AMD','MU','AME','IBM']]

[['HP', 'AMD', 'MU', 'AME', 'IBM']]

In [104]:
balance_cash_vs_neg_cash = merge_df(balance_sheet_cash_equal, balance_data_neg)
balance_cash_vs_neg_cash

,"Cash, Cash Equivalents & Short Term Investments",Accounts & Notes Receivable,Treasury Stock,Retained Earnings,Inventories,Share Capital & Additional Paid-In Capital,Payables & Accruals,Total Noncurrent Liabilities,Long Term Debt,Total Liabilities & Equity,Total Current Liabilities
Ticker,,,,,,,,,,,
A,-2147483648,595000000,-2147483648,-2147483648,552000000,-2147483648,307000000,-2147483648,-2147483648,-977934592,1123000000
A,-2147483648,595000000,-2147483648,-2147483648,716000000,-2147483648,499000000,-2147483648,-2147483648,1106065408,-2147483648
A,-2147483648,595000000,-2147483648,-2147483648,898000000,-2147483648,472000000,-2147483648,1932000000,467065408,1837000000
A,-2147483648,595000000,-2147483648,-2147483648,1014000000,-2147483648,461000000,-2147483648,2112000000,1946065408,1893000000
A,-2147483648,595000000,-2147483648,-2147483648,533000000,-2147483648,257000000,-2147483648,1904000000,-795934592,945000000
...,...,...,...,...,...,...,...,...,...,...,...
XRX,1084000000,1276000000,-55000000,-2147483648,1011000000,-2147483648,-2147483648,-2147483648,-2147483648,-49771072,-2147483648
XRX,1084000000,1276000000,-55000000,-2147483648,998000000,-2147483648,-2147483648,-2147483648,-2147483648,-1028771072,-2147483648
XRX,1084000000,1276000000,-55000000,-2147483648,934000000,-2147483648,-2147483648,-2147483648,-2147483648,1888196224,-2147483648
XRX,1084000000,1276000000,-55000000,-2147483648,818000000,-2147483648,1440000000,-2147483648,-2147483648,1989098112,-2147483648
ZAGG,20177000,54561000,0,47454000,39988000,77265000,28397000,17434000,17434000,206085000,63989000

In [105]:
balance_cash_vs_neg_cash_new = balance_cash_vs_neg_cash.loc[['CNK','DISH','ABBV','BA','TAP']]
balance_cash_vs_neg_cash_new

,"Cash, Cash Equivalents & Short Term Investments",Accounts & Notes Receivable,Treasury Stock,Retained Earnings,Inventories,Share Capital & Additional Paid-In Capital,Payables & Accruals,Total Noncurrent Liabilities,Long Term Debt,Total Liabilities & Equity,Total Current Liabilities
Ticker,,,,,,,,,,,
CNK,464997000,50607000,-44725000,388000,11686000,1037703000,251808000,2116386000,1654417000,-873489296,271940000
CNK,464997000,50607000,-44725000,388000,11284000,1047355000,283243000,-2147483648,1691609000,-772559296,305027000
CNK,464997000,50607000,-44725000,388000,12571000,1064134000,302694000,-2147483648,1893571000,-431741296,338204000
CNK,464997000,50607000,-44725000,388000,13735000,1079423000,370975000,-2147483648,2025453000,-150804296,395712000
CNK,464997000,50607000,-44725000,388000,13419000,1095160000,382132000,-2147483648,1985133000,-174406296,414407000
...,...,...,...,...,...,...,...,...,...,...,...
TAP,430900000,407900000,-471400000,-2147483648,207200000,-2147483648,915300000,-2147483648,1914900000,-461101888,1277200000
TAP,430900000,407900000,-471400000,-2147483648,213900000,-2147483648,1186900000,-2147483648,-2147483648,-967669184,-2147483648
TAP,430900000,407900000,-471400000,-2147483648,205300000,-2147483648,1429600000,-2147483648,-2147483648,-1599769184,-2147483648
TAP,430900000,407900000,-471400000,-2147483648,202200000,-2147483648,1305000000,-2147483648,-2147483648,1095198112,-2147483648
TAP,430900000,407900000,-471400000,-2147483648,179300000,-2147483648,1184400000,-2147483648,-2147483648,-608601888,1217200000

In [106]:
balance_cash_vs_neg_cash_tech = balance_cash_vs_neg_cash.loc[['HP','AMD','MU','AME','IBM']]
balance_cash_vs_neg_cash_tech

,"Cash, Cash Equivalents & Short Term Investments",Accounts & Notes Receivable,Treasury Stock,Retained Earnings,Inventories,Share Capital & Additional Paid-In Capital,Payables & Accruals,Total Noncurrent Liabilities,Long Term Debt,Total Liabilities & Equity,Total Current Liabilities
Ticker,,,,,,,,,,,
HP,121513000,462833000,-35654000,2082518000,33098000,180203000,282224000,1013614000,475000000,-706922296,308957000
HP,121513000,462833000,-35654000,2082518000,39544000,186745000,179923000,1176109000,420000000,-133943296,301906000
HP,121513000,462833000,-35654000,2082518000,54407000,221633000,296750000,1317115000,235000000,708923704,416729000
HP,121513000,462833000,-35654000,2082518000,78777000,247000000,336035000,1504923000,195000000,1426117704,381164000
HP,121513000,462833000,-35654000,2082518000,88866000,299632000,334063000,1368827000,80000000,1969859704,452273000
...,...,...,...,...,...,...,...,...,...,...,...
IBM,-2147483648,-2147483648,-2147483648,-2147483648,1551000000,-2147483648,-2147483648,-2147483648,-2147483648,-1174149696,-2147483648
IBM,-2147483648,-2147483648,-2147483648,-2147483648,1553000000,-2147483648,-2147483648,-2147483648,-2147483648,1503883008,-2147483648
IBM,-2147483648,-2147483648,-2147483648,-2147483648,1583000000,-2147483648,-2147483648,-2147483648,-2147483648,800948416,-2147483648
IBM,-2147483648,-2147483648,-2147483648,-2147483648,1682000000,-2147483648,-2147483648,-2147483648,-2147483648,-1171051584,-2147483648
IBM,-2147483648,-2147483648,-2147483648,-2147483648,1619000000,-2147483648,-2147483648,-2147483648,-2147483648,1860144640,-2147483648

In [109]:
att = ['Cash, Cash Equivalents & Short Term Investments', 'Treasury Stock']
x = balance_cash_vs_neg_cash_new.iloc[: , [1,4,3]]
scatter_matrix(x[att]);

KeyError: "None of [Index(['Cash, Cash Equivalents & Short Term Investments', 'Treasury Stock'], dtype='object')] are in the [columns]"

In [110]:
balance_cash_vs_neg_cash_new = balance_cash_vs_neg_cash.loc[['CNK','DISH','ABBV','BA','TAP']]
balance_cash_vs_neg_cash_new

,"Cash, Cash Equivalents & Short Term Investments",Accounts & Notes Receivable,Treasury Stock,Retained Earnings,Inventories,Share Capital & Additional Paid-In Capital,Payables & Accruals,Total Noncurrent Liabilities,Long Term Debt,Total Liabilities & Equity,Total Current Liabilities
Ticker,,,,,,,,,,,
CNK,464997000,50607000,-44725000,388000,11686000,1037703000,251808000,2116386000,1654417000,-873489296,271940000
CNK,464997000,50607000,-44725000,388000,11284000,1047355000,283243000,-2147483648,1691609000,-772559296,305027000
CNK,464997000,50607000,-44725000,388000,12571000,1064134000,302694000,-2147483648,1893571000,-431741296,338204000
CNK,464997000,50607000,-44725000,388000,13735000,1079423000,370975000,-2147483648,2025453000,-150804296,395712000
CNK,464997000,50607000,-44725000,388000,13419000,1095160000,382132000,-2147483648,1985133000,-174406296,414407000
...,...,...,...,...,...,...,...,...,...,...,...
TAP,430900000,407900000,-471400000,-2147483648,207200000,-2147483648,915300000,-2147483648,1914900000,-461101888,1277200000
TAP,430900000,407900000,-471400000,-2147483648,213900000,-2147483648,1186900000,-2147483648,-2147483648,-967669184,-2147483648
TAP,430900000,407900000,-471400000,-2147483648,205300000,-2147483648,1429600000,-2147483648,-2147483648,-1599769184,-2147483648
TAP,430900000,407900000,-471400000,-2147483648,202200000,-2147483648,1305000000,-2147483648,-2147483648,1095198112,-2147483648
TAP,430900000,407900000,-471400000,-2147483648,179300000,-2147483648,1184400000,-2147483648,-2147483648,-608601888,1217200000

In [111]:
balance_cash_vs_neg_cash_tech = balance_cash_vs_neg_cash.loc[['HP','AMD','MU','AME','IBM']]

balance_cash_vs_neg_cash_tech

,"Cash, Cash Equivalents & Short Term Investments",Accounts & Notes Receivable,Treasury Stock,Retained Earnings,Inventories,Share Capital & Additional Paid-In Capital,Payables & Accruals,Total Noncurrent Liabilities,Long Term Debt,Total Liabilities & Equity,Total Current Liabilities
Ticker,,,,,,,,,,,
HP,121513000,462833000,-35654000,2082518000,33098000,180203000,282224000,1013614000,475000000,-706922296,308957000
HP,121513000,462833000,-35654000,2082518000,39544000,186745000,179923000,1176109000,420000000,-133943296,301906000
HP,121513000,462833000,-35654000,2082518000,54407000,221633000,296750000,1317115000,235000000,708923704,416729000
HP,121513000,462833000,-35654000,2082518000,78777000,247000000,336035000,1504923000,195000000,1426117704,381164000
HP,121513000,462833000,-35654000,2082518000,88866000,299632000,334063000,1368827000,80000000,1969859704,452273000
...,...,...,...,...,...,...,...,...,...,...,...
IBM,-2147483648,-2147483648,-2147483648,-2147483648,1551000000,-2147483648,-2147483648,-2147483648,-2147483648,-1174149696,-2147483648
IBM,-2147483648,-2147483648,-2147483648,-2147483648,1553000000,-2147483648,-2147483648,-2147483648,-2147483648,1503883008,-2147483648
IBM,-2147483648,-2147483648,-2147483648,-2147483648,1583000000,-2147483648,-2147483648,-2147483648,-2147483648,800948416,-2147483648
IBM,-2147483648,-2147483648,-2147483648,-2147483648,1682000000,-2147483648,-2147483648,-2147483648,-2147483648,-1171051584,-2147483648
IBM,-2147483648,-2147483648,-2147483648,-2147483648,1619000000,-2147483648,-2147483648,-2147483648,-2147483648,1860144640,-2147483648

In [113]:
balance_intan_vs_tan = merge_df(balance_sheet_tanglibles,balance_sheet_intanglibles)
balance_intan_vs_tan

,Total Current Assets,"Property, Plant & Equipment, Net",Retained Earnings,Total Equity,Treasury Stock,Long Term Investments & Receivables,Shares (Basic),Shares (Diluted)
Ticker,,,,,,,,
A,-2147483648,845000000,-2147483648,-2147483648,-2147483648,163000000,346000000,346000000
A,-2147483648,845000000,-2147483648,-2147483648,-2147483648,142000000,347000000,353000000
A,-2147483648,845000000,-2147483648,-2147483648,-2147483648,117000000,347000000,355000000
A,-2147483648,845000000,-2147483648,-2147483648,-2147483648,109000000,348000000,353000000
A,-2147483648,845000000,-2147483648,-2147483648,-2147483648,135000000,326000000,329000000
...,...,...,...,...,...,...,...,...
XRX,-2147483648,941000000,-2147483648,-2147483648,-104000000,1381000000,325513250,332296000
XRX,-2147483648,941000000,-2147483648,-2147483648,-252000000,1285000000,306371500,318381750
XRX,-2147483648,941000000,-2147483648,-2147483648,-105000000,1338000000,288591250,292899250
XRX,-2147483648,941000000,-2147483648,-2147483648,-55000000,1403000000,248707000,251660000
ZAGG,131185000,4862000,47454000,124662000,0,2013000,30339000,31656000

In [114]:
balance_intan_vs_tan_tech =  balance_intan_vs_tan.loc[['HP','AMD','MU','AME','IBM']]
balance_intan_vs_tan_tech

,Total Current Assets,"Property, Plant & Equipment, Net",Retained Earnings,Total Equity,Treasury Stock,Long Term Investments & Receivables,Shares (Basic),Shares (Diluted)
Ticker,,,,,,,,
HP,690647000,-2147483648,2082518000,-2147483648,-35654000,199266000,104284000,106583000
HP,690647000,-2147483648,2082518000,-2147483648,-31129000,356404000,105364000,106608000
HP,690647000,-2147483648,2082518000,-2147483648,-4704000,347924000,106643000,108632000
HP,690647000,-2147483648,2082518000,-2147483648,-84104000,451144000,106819000,108377000
HP,690647000,-2147483648,2082518000,-2147483648,-91098000,316154000,106286000,107879000
...,...,...,...,...,...,...,...,...
IBM,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,978744523,982700267
IBM,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,955422530,958714097
IBM,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,932828295,937385625
IBM,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,912048072,916315714
IBM,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,2074000000,887235105,892813376

In [115]:
balance_intan_vs_tan_new = balance_intan_vs_tan.loc[['CNK','DISH','ABBV','BA','TAP']]
balance_intan_vs_tan_new

,Total Current Assets,"Property, Plant & Equipment, Net",Retained Earnings,Total Equity,Treasury Stock,Long Term Investments & Receivables,Shares (Basic),Shares (Diluted)
Ticker,,,,,,,,
CNK,577053000,1215446000,388000,1033152000,-44725000,103207000,111565000,112151000
CNK,577053000,1215446000,388000,1033152000,-45219000,94547000,112736000,113224000
CNK,577053000,1215446000,388000,1033152000,-48482000,78123000,113216000,113824000
CNK,577053000,1215446000,388000,1033152000,-51946000,178853000,113896000,114396000
CNK,577053000,1215446000,388000,1033152000,-61807000,178939000,114653000,114966000
...,...,...,...,...,...,...,...,...
TAP,1258800000,1590800000,-2147483648,-2147483648,-321100000,-2147483648,184900000,186400000
TAP,1258800000,1590800000,-2147483648,-2147483648,-321100000,-2147483648,180800000,181800000
TAP,1258800000,1590800000,-2147483648,-2147483648,-321100000,-2147483648,183000000,184200000
TAP,1258800000,1590800000,-2147483648,-2147483648,-321100000,-2147483648,184900000,186100000
TAP,1258800000,1590800000,-2147483648,-2147483648,-471400000,-2147483648,185300000,186400000

In [120]:
bal_int_tan_vs_eqcash = merge_df(balance_sheet_intanglibles, balance_sheet_cash_equal).drop(columns=['Treasury Stock_y'])
bal_int_tan_vs_eqcash

,Treasury Stock_x,Long Term Investments & Receivables,Shares (Basic),Shares (Diluted),"Cash, Cash Equivalents & Short Term Investments",Accounts & Notes Receivable,Retained Earnings
Ticker,,,,,,,
A,-2147483648,163000000,346000000,346000000,-2147483648,595000000,-2147483648
A,-2147483648,163000000,346000000,346000000,-2147483648,869000000,-2147483648
A,-2147483648,163000000,346000000,346000000,-2147483648,860000000,-2147483648
A,-2147483648,163000000,346000000,346000000,-2147483648,923000000,-2147483648
A,-2147483648,163000000,346000000,346000000,-2147483648,631000000,-2147483648
...,...,...,...,...,...,...,...
XRX,-55000000,1403000000,248707000,251660000,1246000000,-2147483648,-2147483648
XRX,-55000000,1403000000,248707000,251660000,1764000000,-2147483648,-2147483648
XRX,-55000000,1403000000,248707000,251660000,1411000000,-2147483648,-2147483648
XRX,-55000000,1403000000,248707000,251660000,1084000000,1276000000,-2147483648
ZAGG,0,2013000,30339000,31656000,20177000,54561000,47454000

In [121]:
bal_int_tan_vs_eqcash_new = bal_int_tan_vs_eqcash.loc[['CNK','DISH','ABBV','BA','TAP']]
bal_int_tan_vs_eqcash_new

,Treasury Stock_x,Long Term Investments & Receivables,Shares (Basic),Shares (Diluted),"Cash, Cash Equivalents & Short Term Investments",Accounts & Notes Receivable,Retained Earnings
Ticker,,,,,,,
CNK,-44725000,103207000,111565000,112151000,464997000,50607000,388000
CNK,-44725000,103207000,111565000,112151000,521408000,54757000,34423000
CNK,-44725000,103207000,111565000,112151000,742664000,57122000,106111000
CNK,-44725000,103207000,111565000,112151000,599929000,81519000,147764000
CNK,-44725000,103207000,111565000,112151000,638869000,47917000,224219000
...,...,...,...,...,...,...,...
TAP,-471400000,-2147483648,185300000,186400000,1078900000,529900000,-2147483648
TAP,-471400000,-2147483648,185300000,186400000,624000000,608300000,-2147483648
TAP,-471400000,-2147483648,185300000,186400000,442300000,572800000,-2147483648
TAP,-471400000,-2147483648,185300000,186400000,624600000,488900000,-2147483648
TAP,-471400000,-2147483648,185300000,186400000,430900000,407900000,-2147483648

In [122]:
bal_int_tan_vs_eqcash_tech = bal_int_tan_vs_eqcash.loc[['HP','AMD','MU','AME','IBM']]
bal_int_tan_vs_eqcash_tech

,Treasury Stock_x,Long Term Investments & Receivables,Shares (Basic),Shares (Diluted),"Cash, Cash Equivalents & Short Term Investments",Accounts & Notes Receivable,Retained Earnings
Ticker,,,,,,,
HP,-35654000,199266000,104284000,106583000,121513000,462833000,2082518000
HP,-35654000,199266000,104284000,106583000,108642000,233949000,-2147483648
HP,-35654000,199266000,104284000,106583000,364246000,460540000,-2147483648
HP,-35654000,199266000,104284000,106583000,96095000,620489000,-2147483648
HP,-35654000,199266000,104284000,106583000,447868000,621420000,-2147483648
...,...,...,...,...,...,...,...
IBM,-2147483648,2074000000,887235105,892813376,-2147483648,-2147483648,-2147483648
IBM,-2147483648,2074000000,887235105,892813376,-2147483648,-2147483648,-2147483648
IBM,-2147483648,2074000000,887235105,892813376,-2147483648,-2147483648,-2147483648
IBM,-2147483648,2074000000,887235105,892813376,-2147483648,-2147483648,-2147483648
IBM,-2147483648,2074000000,887235105,892813376,-2147483648,-2147483648,-2147483648

In [126]:
bal_tan_vs_eqcash = merge_df(balance_sheet_tanglibles, balance_sheet_cash_equal)
bal_tan_vs_eqcash.set_index('Ticker', inplace=True)

KeyError: "None of ['Ticker'] are in the columns"

In [127]:
bal_tan_vs_eqcash_new = bal_tan_vs_eqcash.loc[['CNK','DISH','ABBV','BA','TAP']]
bal_tan_vs_eqcash_new

,Total Current Assets,"Property, Plant & Equipment, Net",Retained Earnings_x,Total Equity,"Cash, Cash Equivalents & Short Term Investments",Accounts & Notes Receivable,Treasury Stock,Retained Earnings_y
Ticker,,,,,,,,
CNK,577053000,1215446000,388000,1033152000,464997000,50607000,-44725000,388000
CNK,577053000,1215446000,388000,1033152000,521408000,54757000,-45219000,34423000
CNK,577053000,1215446000,388000,1033152000,742664000,57122000,-48482000,106111000
CNK,577053000,1215446000,388000,1033152000,599929000,81519000,-51946000,147764000
CNK,577053000,1215446000,388000,1033152000,638869000,47917000,-61807000,224219000
...,...,...,...,...,...,...,...,...
TAP,1258800000,1590800000,-2147483648,-2147483648,1078900000,529900000,-321100000,-2147483648
TAP,1258800000,1590800000,-2147483648,-2147483648,624000000,608300000,-321100000,-2147483648
TAP,1258800000,1590800000,-2147483648,-2147483648,442300000,572800000,-321100000,-2147483648
TAP,1258800000,1590800000,-2147483648,-2147483648,624600000,488900000,-321100000,-2147483648
TAP,1258800000,1590800000,-2147483648,-2147483648,430900000,407900000,-471400000,-2147483648

In [130]:
bal_tan_vs_eqcash = merge_df(balance_sheet_tanglibles, balance_sheet_cash_equal)
bal_tan_vs_eqcash

,Total Current Assets,"Property, Plant & Equipment, Net",Retained Earnings_x,Total Equity,"Cash, Cash Equivalents & Short Term Investments",Accounts & Notes Receivable,Treasury Stock,Retained Earnings_y
Ticker,,,,,,,,
A,-2147483648,845000000,-2147483648,-2147483648,-2147483648,595000000,-2147483648,-2147483648
A,-2147483648,845000000,-2147483648,-2147483648,-2147483648,869000000,-2147483648,-2147483648
A,-2147483648,845000000,-2147483648,-2147483648,-2147483648,860000000,-2147483648,-2147483648
A,-2147483648,845000000,-2147483648,-2147483648,-2147483648,923000000,-2147483648,-2147483648
A,-2147483648,845000000,-2147483648,-2147483648,-2147483648,631000000,-2147483648,-2147483648
...,...,...,...,...,...,...,...,...
XRX,-2147483648,941000000,-2147483648,-2147483648,1246000000,-2147483648,-104000000,-2147483648
XRX,-2147483648,941000000,-2147483648,-2147483648,1764000000,-2147483648,-252000000,-2147483648
XRX,-2147483648,941000000,-2147483648,-2147483648,1411000000,-2147483648,-105000000,-2147483648
XRX,-2147483648,941000000,-2147483648,-2147483648,1084000000,1276000000,-55000000,-2147483648
ZAGG,131185000,4862000,47454000,124662000,20177000,54561000,0,47454000

In [131]:
bal_tan_vs_eqcash_new = bal_tan_vs_eqcash.loc[['CNK','DISH','ABBV','BA','TAP']]
bal_tan_vs_eqcash_new

,Total Current Assets,"Property, Plant & Equipment, Net",Retained Earnings_x,Total Equity,"Cash, Cash Equivalents & Short Term Investments",Accounts & Notes Receivable,Treasury Stock,Retained Earnings_y
Ticker,,,,,,,,
CNK,577053000,1215446000,388000,1033152000,464997000,50607000,-44725000,388000
CNK,577053000,1215446000,388000,1033152000,521408000,54757000,-45219000,34423000
CNK,577053000,1215446000,388000,1033152000,742664000,57122000,-48482000,106111000
CNK,577053000,1215446000,388000,1033152000,599929000,81519000,-51946000,147764000
CNK,577053000,1215446000,388000,1033152000,638869000,47917000,-61807000,224219000
...,...,...,...,...,...,...,...,...
TAP,1258800000,1590800000,-2147483648,-2147483648,1078900000,529900000,-321100000,-2147483648
TAP,1258800000,1590800000,-2147483648,-2147483648,624000000,608300000,-321100000,-2147483648
TAP,1258800000,1590800000,-2147483648,-2147483648,442300000,572800000,-321100000,-2147483648
TAP,1258800000,1590800000,-2147483648,-2147483648,624600000,488900000,-321100000,-2147483648
TAP,1258800000,1590800000,-2147483648,-2147483648,430900000,407900000,-471400000,-2147483648

In [132]:
bal_tan_vs_eqcash_tech = bal_tan_vs_eqcash.loc[['HP','AMD','MU','AME','IBM']]
bal_tan_vs_eqcash_tech

,Total Current Assets,"Property, Plant & Equipment, Net",Retained Earnings_x,Total Equity,"Cash, Cash Equivalents & Short Term Investments",Accounts & Notes Receivable,Treasury Stock,Retained Earnings_y
Ticker,,,,,,,,
HP,690647000,-2147483648,2082518000,-2147483648,121513000,462833000,-35654000,2082518000
HP,690647000,-2147483648,2082518000,-2147483648,108642000,233949000,-31129000,-2147483648
HP,690647000,-2147483648,2082518000,-2147483648,364246000,460540000,-4704000,-2147483648
HP,690647000,-2147483648,2082518000,-2147483648,96095000,620489000,-84104000,-2147483648
HP,690647000,-2147483648,2082518000,-2147483648,447868000,621420000,-91098000,-2147483648
...,...,...,...,...,...,...,...,...
IBM,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648
IBM,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648
IBM,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648
IBM,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648
IBM,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648

In [136]:
bal_tan_vs_neg_cash = merge_df(balance_data_neg, balance_sheet_tanglibles)
bal_tan_vs_neg_cash

,Inventories,Share Capital & Additional Paid-In Capital,Payables & Accruals,Total Noncurrent Liabilities,Long Term Debt,Total Liabilities & Equity,Total Current Liabilities,Total Current Assets,"Property, Plant & Equipment, Net",Retained Earnings,Total Equity
Ticker,,,,,,,,,,,
A,552000000,-2147483648,307000000,-2147483648,-2147483648,-977934592,1123000000,-2147483648,845000000,-2147483648,-2147483648
A,552000000,-2147483648,307000000,-2147483648,-2147483648,-977934592,1123000000,-2147483648,980000000,-2147483648,-2147483648
A,552000000,-2147483648,307000000,-2147483648,-2147483648,-977934592,1123000000,-2147483648,1006000000,-2147483648,-2147483648
A,552000000,-2147483648,307000000,-2147483648,-2147483648,-977934592,1123000000,-2147483648,1164000000,-2147483648,-2147483648
A,552000000,-2147483648,307000000,-2147483648,-2147483648,-977934592,1123000000,-2147483648,639000000,-2147483648,-2147483648
...,...,...,...,...,...,...,...,...,...,...,...
XRX,818000000,-2147483648,1440000000,-2147483648,-2147483648,1989098112,-2147483648,-2147483648,2091000000,-2147483648,-2147483648
XRX,818000000,-2147483648,1440000000,-2147483648,-2147483648,1989098112,-2147483648,-2147483648,2025000000,-2147483648,-2147483648
XRX,818000000,-2147483648,1440000000,-2147483648,-2147483648,1989098112,-2147483648,-2147483648,1648000000,-2147483648,-2147483648
XRX,818000000,-2147483648,1440000000,-2147483648,-2147483648,1989098112,-2147483648,-2147483648,941000000,-2147483648,-2147483648
ZAGG,39988000,77265000,28397000,17434000,17434000,206085000,63989000,131185000,4862000,47454000,124662000

In [137]:
bal_tan_vs_neg_cash_tech = bal_tan_vs_neg_cash.loc[['HP','AMD','MU','AME','IBM']]
bal_tan_vs_neg_cash_tech

,Inventories,Share Capital & Additional Paid-In Capital,Payables & Accruals,Total Noncurrent Liabilities,Long Term Debt,Total Liabilities & Equity,Total Current Liabilities,Total Current Assets,"Property, Plant & Equipment, Net",Retained Earnings,Total Equity
Ticker,,,,,,,,,,,
HP,33098000,180203000,282224000,1013614000,475000000,-706922296,308957000,690647000,-2147483648,2082518000,-2147483648
HP,33098000,180203000,282224000,1013614000,475000000,-706922296,308957000,522932000,-2147483648,-2147483648,-2147483648
HP,33098000,180203000,282224000,1013614000,475000000,-706922296,308957000,956313000,-2147483648,-2147483648,-2147483648
HP,33098000,180203000,282224000,1013614000,475000000,-706922296,308957000,895228000,-2147483648,-2147483648,-2147483648
HP,33098000,180203000,282224000,1013614000,475000000,-706922296,308957000,1258211000,-2147483648,-2147483648,-2147483648
...,...,...,...,...,...,...,...,...,...,...,...
IBM,1619000000,-2147483648,-2147483648,-2147483648,-2147483648,1860144640,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648
IBM,1619000000,-2147483648,-2147483648,-2147483648,-2147483648,1860144640,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648
IBM,1619000000,-2147483648,-2147483648,-2147483648,-2147483648,1860144640,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648
IBM,1619000000,-2147483648,-2147483648,-2147483648,-2147483648,1860144640,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648
IBM,1619000000,-2147483648,-2147483648,-2147483648,-2147483648,1860144640,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648

In [138]:
bal_tan_vs_neg_cash_new = bal_tan_vs_neg_cash.loc[['CNK','DISH','ABBV','BA','TAP']]
bal_tan_vs_neg_cash_new

,Inventories,Share Capital & Additional Paid-In Capital,Payables & Accruals,Total Noncurrent Liabilities,Long Term Debt,Total Liabilities & Equity,Total Current Liabilities,Total Current Assets,"Property, Plant & Equipment, Net",Retained Earnings,Total Equity
Ticker,,,,,,,,,,,
CNK,11686000,1037703000,251808000,2116386000,1654417000,-873489296,271940000,577053000,1215446000,388000,1033152000
CNK,11686000,1037703000,251808000,2116386000,1654417000,-873489296,271940000,627118000,1238850000,34423000,1023639000
CNK,11686000,1037703000,251808000,2116386000,1654417000,-873489296,271940000,845161000,1304958000,106111000,1094984000
CNK,11686000,1037703000,251808000,2116386000,1654417000,-873489296,271940000,729599000,1427190000,147764000,1102417000
CNK,11686000,1037703000,251808000,2116386000,1654417000,-873489296,271940000,741010000,1450812000,224219000,1123129000
...,...,...,...,...,...,...,...,...,...,...,...
TAP,179300000,-2147483648,1184400000,-2147483648,-2147483648,-608601888,1217200000,2118000000,1430100000,-2147483648,-2147483648
TAP,179300000,-2147483648,1184400000,-2147483648,-2147483648,-608601888,1217200000,1748000000,1995900000,-2147483648,-2147483648
TAP,179300000,-2147483648,1184400000,-2147483648,-2147483648,-608601888,1217200000,1537700000,1970100000,-2147483648,-2147483648
TAP,179300000,-2147483648,1184400000,-2147483648,-2147483648,-608601888,1217200000,1577100000,1798000000,-2147483648,-2147483648
TAP,179300000,-2147483648,1184400000,-2147483648,-2147483648,-608601888,1217200000,1258800000,1590800000,-2147483648,-2147483648

In [139]:
bal_neg_vs_intan = merge_df(balance_data,balance_sheet_tanglibles)
bal_neg_vs_intan

,Shares (Basic),Shares (Diluted),"Cash, Cash Equivalents & Short Term Investments",Accounts & Notes Receivable,Inventories,Total Current Assets_x,"Property, Plant & Equipment, Net_x",Long Term Investments & Receivables,Other Long Term Assets,Total Noncurrent Assets,...,Total Liabilities,Share Capital & Additional Paid-In Capital,Treasury Stock,Retained Earnings_x,Total Equity_x,Total Liabilities & Equity,Total Current Assets_y,"Property, Plant & Equipment, Net_y",Retained Earnings_y,Total Equity_y
Ticker,,,,,,,,,,,,,,,,,,,,,
A,346000000,346000000,-2147483648,595000000,552000000,-2147483648,845000000,163000000,-2147483648,-2147483648,...,803032704,-2147483648,-2147483648,-2147483648,-2147483648,-977934592,-2147483648,845000000,-2147483648,-2147483648
A,346000000,346000000,-2147483648,595000000,552000000,-2147483648,845000000,163000000,-2147483648,-2147483648,...,803032704,-2147483648,-2147483648,-2147483648,-2147483648,-977934592,-2147483648,980000000,-2147483648,-2147483648
A,346000000,346000000,-2147483648,595000000,552000000,-2147483648,845000000,163000000,-2147483648,-2147483648,...,803032704,-2147483648,-2147483648,-2147483648,-2147483648,-977934592,-2147483648,1006000000,-2147483648,-2147483648
A,346000000,346000000,-2147483648,595000000,552000000,-2147483648,845000000,163000000,-2147483648,-2147483648,...,803032704,-2147483648,-2147483648,-2147483648,-2147483648,-977934592,-2147483648,1164000000,-2147483648,-2147483648
A,346000000,346000000,-2147483648,595000000,552000000,-2147483648,845000000,163000000,-2147483648,-2147483648,...,803032704,-2147483648,-2147483648,-2147483648,-2147483648,-977934592,-2147483648,639000000,-2147483648,-2147483648
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
XRX,248707000,251660000,1084000000,1276000000,818000000,-2147483648,941000000,1403000000,-2147483648,-2147483648,...,1031065408,-2147483648,-55000000,-2147483648,-2147483648,1989098112,-2147483648,2091000000,-2147483648,-2147483648
XRX,248707000,251660000,1084000000,1276000000,818000000,-2147483648,941000000,1403000000,-2147483648,-2147483648,...,1031065408,-2147483648,-55000000,-2147483648,-2147483648,1989098112,-2147483648,2025000000,-2147483648,-2147483648
XRX,248707000,251660000,1084000000,1276000000,818000000,-2147483648,941000000,1403000000,-2147483648,-2147483648,...,1031065408,-2147483648,-55000000,-2147483648,-2147483648,1989098112,-2147483648,1648000000,-2147483648,-2147483648
XRX,248707000,251660000,1084000000,1276000000,818000000,-2147483648,941000000,1403000000,-2147483648,-2147483648,...,1031065408,-2147483648,-55000000,-2147483648,-2147483648,1989098112,-2147483648,941000000,-2147483648,-2147483648
ZAGG,30339000,31656000,20177000,54561000,39988000,131185000,4862000,2013000,68025000,74900000,...,81423000,77265000,0,47454000,124662000,206085000,131185000,4862000,47454000,124662000

In [140]:
bal_neg_vs_intan_new = bal_neg_vs_intan.loc[['CNK','DISH','ABBV','BA','TAP']]
bal_neg_vs_intan_new

,Shares (Basic),Shares (Diluted),"Cash, Cash Equivalents & Short Term Investments",Accounts & Notes Receivable,Inventories,Total Current Assets_x,"Property, Plant & Equipment, Net_x",Long Term Investments & Receivables,Other Long Term Assets,Total Noncurrent Assets,...,Total Liabilities,Share Capital & Additional Paid-In Capital,Treasury Stock,Retained Earnings_x,Total Equity_x,Total Liabilities & Equity,Total Current Assets_y,"Property, Plant & Equipment, Net_y",Retained Earnings_y,Total Equity_y
Ticker,,,,,,,,,,,,,,,,,,,,,
CNK,111565000,112151000,464997000,50607000,11686000,577053000,1215446000,103207000,1525772000,-2147483648,...,-1906641296,1037703000,-44725000,388000,1033152000,-873489296,577053000,1215446000,388000,1033152000
CNK,111565000,112151000,464997000,50607000,11686000,577053000,1215446000,103207000,1525772000,-2147483648,...,-1906641296,1037703000,-44725000,388000,1033152000,-873489296,627118000,1238850000,34423000,1023639000
CNK,111565000,112151000,464997000,50607000,11686000,577053000,1215446000,103207000,1525772000,-2147483648,...,-1906641296,1037703000,-44725000,388000,1033152000,-873489296,845161000,1304958000,106111000,1094984000
CNK,111565000,112151000,464997000,50607000,11686000,577053000,1215446000,103207000,1525772000,-2147483648,...,-1906641296,1037703000,-44725000,388000,1033152000,-873489296,729599000,1427190000,147764000,1102417000
CNK,111565000,112151000,464997000,50607000,11686000,577053000,1215446000,103207000,1525772000,-2147483648,...,-1906641296,1037703000,-44725000,388000,1033152000,-873489296,741010000,1450812000,224219000,1123129000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TAP,185300000,186400000,430900000,407900000,179300000,1258800000,1590800000,-2147483648,-2147483648,-2147483648,...,918232704,-2147483648,-471400000,-2147483648,-2147483648,-608601888,2118000000,1430100000,-2147483648,-2147483648
TAP,185300000,186400000,430900000,407900000,179300000,1258800000,1590800000,-2147483648,-2147483648,-2147483648,...,918232704,-2147483648,-471400000,-2147483648,-2147483648,-608601888,1748000000,1995900000,-2147483648,-2147483648
TAP,185300000,186400000,430900000,407900000,179300000,1258800000,1590800000,-2147483648,-2147483648,-2147483648,...,918232704,-2147483648,-471400000,-2147483648,-2147483648,-608601888,1537700000,1970100000,-2147483648,-2147483648
TAP,185300000,186400000,430900000,407900000,179300000,1258800000,1590800000,-2147483648,-2147483648,-2147483648,...,918232704,-2147483648,-471400000,-2147483648,-2147483648,-608601888,1577100000,1798000000,-2147483648,-2147483648
TAP,185300000,186400000,430900000,407900000,179300000,1258800000,1590800000,-2147483648,-2147483648,-2147483648,...,918232704,-2147483648,-471400000,-2147483648,-2147483648,-608601888,1258800000,1590800000,-2147483648,-2147483648

In [144]:
bal_neg_vs_intan_tech = bal_neg_vs_intan.loc[['HP','AMD','MU','AME','IBM']]
bal_neg_vs_intan_tech.loc['HP']

,Shares (Basic),Shares (Diluted),"Cash, Cash Equivalents & Short Term Investments",Accounts & Notes Receivable,Inventories,Total Current Assets_x,"Property, Plant & Equipment, Net_x",Long Term Investments & Receivables,Other Long Term Assets,Total Noncurrent Assets,...,Total Liabilities,Share Capital & Additional Paid-In Capital,Treasury Stock,Retained Earnings_x,Total Equity_x,Total Liabilities & Equity,Total Current Assets_y,"Property, Plant & Equipment, Net_y",Retained Earnings_y,Total Equity_y
Ticker,,,,,,,,,,,,,,,,,,,,,
HP,104284000,106583000,121513000,462833000,33098000,690647000,-2147483648,199266000,15881000,-2147483648,...,1322571000,180203000,-35654000,2082518000,-2147483648,-706922296,690647000,-2147483648,2082518000,-2147483648
HP,104284000,106583000,121513000,462833000,33098000,690647000,-2147483648,199266000,15881000,-2147483648,...,1322571000,180203000,-35654000,2082518000,-2147483648,-706922296,522932000,-2147483648,-2147483648,-2147483648
HP,104284000,106583000,121513000,462833000,33098000,690647000,-2147483648,199266000,15881000,-2147483648,...,1322571000,180203000,-35654000,2082518000,-2147483648,-706922296,956313000,-2147483648,-2147483648,-2147483648
HP,104284000,106583000,121513000,462833000,33098000,690647000,-2147483648,199266000,15881000,-2147483648,...,1322571000,180203000,-35654000,2082518000,-2147483648,-706922296,895228000,-2147483648,-2147483648,-2147483648
HP,104284000,106583000,121513000,462833000,33098000,690647000,-2147483648,199266000,15881000,-2147483648,...,1322571000,180203000,-35654000,2082518000,-2147483648,-706922296,1258211000,-2147483648,-2147483648,-2147483648
HP,104284000,106583000,121513000,462833000,33098000,690647000,-2147483648,199266000,15881000,-2147483648,...,1322571000,180203000,-35654000,2082518000,-2147483648,-706922296,1277001000,-2147483648,-2147483648,-2147483648
HP,104284000,106583000,121513000,462833000,33098000,690647000,-2147483648,199266000,15881000,-2147483648,...,1322571000,180203000,-35654000,2082518000,-2147483648,-706922296,1439194000,-2147483648,-2147483648,-2147483648
HP,105364000,106608000,108642000,233949000,39544000,522932000,-2147483648,356404000,87415000,-2147483648,...,1478015000,186745000,-31129000,-2147483648,-2147483648,-133943296,690647000,-2147483648,2082518000,-2147483648
HP,105364000,106608000,108642000,233949000,39544000,522932000,-2147483648,356404000,87415000,-2147483648,...,1478015000,186745000,-31129000,-2147483648,-2147483648,-133943296,522932000,-2147483648,-2147483648,-2147483648
HP,105364000,106608000,108642000,233949000,39544000,522932000,-2147483648,356404000,87415000,-2147483648,...,1478015000,186745000,-31129000,-2147483648,-2147483648,-133943296,956313000,-2147483648,-2147483648,-2147483648
HP,105364000,106608000,108642000,233949000,39544000,522932000,-2147483648,356404000,87415000,-2147483648,...,1478015000,186745000,-31129000,-2147483648,-2147483648,-133943296,895228000,-2147483648,-2147483648,-2147483648
HP,105364000,106608000,108642000,233949000,39544000,522932000,-2147483648,356404000,87415000,-2147483648,...,1478015000,186745000,-31129000,-2147483648,-2147483648,-133943296,1258211000,-2147483648,-2147483648,-2147483648
HP,105364000,106608000,108642000,233949000,39544000,522932000,-2147483648,356404000,87415000,-2147483648,...,1478015000,186745000,-31129000,-2147483648,-2147483648,-133943296,1277001000,-2147483648,-2147483648,-2147483648
HP,105364000,106608000,108642000,233949000,39544000,522932000,-2147483648,356404000,87415000,-2147483648,...,1478015000,186745000,-31129000,-2147483648,-2147483648,-133943296,1439194000,-2147483648,-2147483648,-2147483648
HP,106643000,108632000,364246000,460540000,54407000,956313000,-2147483648,347924000,22584000,-2147483648,...,1733844000,221633000,-4704000,-2147483648,-2147483648,708923704,690647000,-2147483648,2082518000,-2147483648
HP,106643000,108632000,364246000,460540000,54407000,956313000,-2147483648,347924000,22584000,-2147483648,...,1733844000,221633000,-4704000,-2147483648,-2147483648,708923704,522932000,-2147483648,-2147483648,-2147483648
HP,106643000,108632000,364246000,460540000,54407000,956313000,-2147483648,347924000,22584000,-2147483648,...,1733844000,221633000,-4704000,-2147483648,-2147483648,708923704,956313000,-2147483648,-2147483648,-2147483648
HP,106643000,108632000,364246000,460540000,54407000,956313000,-2147483648,347924000,22584000,-2147483648,...,1733844000,221633000,-4704000,-2147483648,-2147483648,708923704,895228000,-2147483648,-2147483648,-2147483648
HP,106643000,108632000,364246000,460540000,54407000,956313000,-2147483648,347924000,22584000,-2147483648,...,1733844000,221633000,-4704000,-2147483648,-2147483648,708923704,1258211000,-2147483648,-2147483648,-2147483648
HP,106643000,108632000,364246000,460540000,54407000,956313000,-2147483648,347924000,22584000,-2147483648,...,1733844000,221633000,-4704000,-2147483648,-2147483648,708923704,1277001000,-2147483648,-2147483648,-2147483648
HP,106643000,108632000,364246000,460540000,54407000,956313000,-2147483648,347924000,22584000,-2147483648,...,1733844000,221633000,-4704000,-2147483648,-2147483648,708923704,1439194000,-2147483648,-2147483648,-2147483648
HP,106819000,108377000,96095000,620489000,78777000,895228000,-2147483648,451144000,23142000,-2147483648,...,1886087000,247000000,-84104000,-2147483648,-2147483648,1426117704,690647000,-2147483648,2082518000,-2147483648
HP,106819000,108377000,96095000,620489000,78777000,895228000,-2147483648,451144000,23142000,-2147483648,...,1886087000,247000000,-84104000,-2147483648,-2147483648,1426117704,522932000,-2147483648,-2147483648,-2147483648
HP,106819000,108377000,96095000,620489000,78777000,895228000,-2147483648,451144000,23142000,-2147483648,...,1886087000,247000000,-84104000,-2147483648,-2147483648,1426117704,956313000,-2147483648,-2147483648,-2147483648
HP,106819000,108377000,96095000,620489000,78777000,895228000,-2147483648,451144000,23142000,-2147483648,...,1886087000,247000000,-84104000,-2147483648,-2147483648,1426117704,895228000,-2147483648,-2147483648,-2147483648
HP,106819000,108377000,96095000,620489000,78777000,895228000,-2147483648,451144000,23142000,-2147483648,...,1886087000,247000000,-84104000,-2147483648,-2147483648,1426117704,1258211000,-2147483648,-2147483648,-2147483648
HP,106819000,108377000,96095000,620489000,78777000,895228000,-2147483648,451144000,23142000,-2147483648,...,1886087000,247000000,-84104000,-2147483648,-2147483648,1426117704,1277001000,-2147483648,-2147483648,-2147483648
HP,106819000,108377000,96095000,620489000,78777000,895228000,-2147483648,451144000,23142000,-2147483648,...,1886087000,247000000,-84104000,-2147483648,-2147483648,1426117704,1439194000,-2147483648,-2147483648,-2147483648
HP,106286000,107879000,447868000,621420000,88866000,1258211000,-2147483648,316154000,14359000,-2147483648,...,1821100000,299632000,-91098000,-2147483648,-2147483648,1969859704,690647000,-2147483648,2082518000,-2147483648
HP,106286000,107879000,447868000,621420000,88866000,1258211000,-2147483648,316154000,14359000,-2147483648,...,1821100000,299632000,-91098000,-2147483648,-2147483648,1969859704,522932000,-2147483648,-2147483648,-2147483648
HP,106286000,107879000,447868000,621420000,88866000,1258211000,-2147483648,316154000,14359000,-2147483648,...,1821100000,299632000,-91098000,-2147483648,-2147483648,1969859704,956313000,-2147483648,-2147483648,-2147483648
HP,106286000,107879000,447868000,621420000,88866000,1258211000,-2147483648,316154000,14359000,-2147483648,...,1821100000,299632000,-91098000,-2147483648,-2147483648,1969859704,895228000,-2147483648,-2147483648,-2147483648
HP,106286000,107879000,447868000,621420000,88866000,1258211000,-2147483648,316154000,14359000,-2147483648,...,1821100000,299632000,-91098000,-2147483648,-2147483648,1969859704,1258211000,-2147483648,-2147483648,-2147483648
HP,106286000,107879000,447868000,621420000,88866000,1258211000,-2147483648,316154000,14359000,-2147483648,...,1821100000,299632000,-91098000,-2147483648,-2147483648,1969859704,1277001000,-2147483648,-2147483648,-2147483648
HP,106286000,107879000,447868000,621420000,88866000,1258211000,-2147483648,316154000,14359000,-2147483648,...,1821100000,299632000,-91098000,-2147483648,-2147483648,1969859704,1439194000,-2147483648,-2147483648,-2147483648
HP,107800000,109141000,360909000,705214000,106241000,1277001000,-2147483648,236644000,18809000,-2147483648,...,1830021000,395023000,-112969000,-2147483648,-2147483648,-1868936592,690647000,-2147483648,2082518000,-2147483648
HP,107800000,109141000,360909000,705214000,106241000,1277001000,-2147483648,236644000,18809000,-2147483648,...,1830021000,395023000,-112969000,-2147483648,-2147483648,-1868936592,522932000,-2147483648,-2147483648,-2147483648
HP,107800000,109141000,360909000,705214000,106241000,1277001000,-2147483648,236644000,18809000,-2147483648,...,1830021000,395023000,-112969000,-2147483648,-2147483648,-1868936592,956313000,-2147483648,-2147483648,-2147483648
HP,107800000,109141000,360909000,705214000,106241000,1277001000,-2147483648,236644000,18809000,-2147483648,...,1830021000,395023000,-112969000,-2147483648,-2147483648,-1868936592,895228000,-2147483648,-2147483648,-2147483648
HP,107800000,109141000,360909000,705214000,106241000,1277001000,-2147483648,236644000,18809000,-2147483648,...,1830021000,395023000,-112969000,-2147483648,-2147483648,-1868936592,1258211000,-2147483648,-2147483648,-2147483648
HP,107800000,109141000,360909000,705214000,106241000,1277001000,-2147483648,236644000,18809000,-2147483648,...,1830021000,395023000,-112969000,-2147483648,-2147483648,-1868936592,1277001000,-2147483648,-2147483648,-2147483648
HP,107800000,109141000,360909000,705214000,106241000,1277001000,-2147483648,236644000,18809000,-2147483648,...,1830021000,395023000,-112969000,-2147483648,-2147483648,-1868936592,1439194000,-2147483648,-2147483648,-2147483648
HP,107754000,108570000,774927000,445948000,128541000,1439194000,-2147483648,104354000,40524000,-2147483648,...,-2043571296,431240000,-182363000,-2147483648,-2147483648,-1442692592,690647000,-2147483648,2082518000,-2147483648
HP,107754000,108570000,774927000,445948000,128541000,1439194000,-2147483648,104354000,40524000,-2147483648,...,-2043571296,431240000,-182363000,-2147483648,-2147483648,-1442692592,522932000,-2147483648,-2147483648,-2147483648
HP,107754000,108570000,774927000,445948000,128541000,1439194000,-2147483648,104354000,40524000,-2147483648,...,-2043571296,431240000,-182363000,-2147483648,-2147483648,-1442692592,956313000,-2147483648,-2147483648,-2147483648
HP,107754000,108570000,774927000,445948000,128541000,1439194000,-2147483648,104354000,40524000,-2147483648,...,-2043571296,431240000,-182363000,-2147483648,-2147483648,-1442692592,895228000,-2147483648,-2147483648,-2147483648
HP,107754000,108570000,774927000,445948000,128541000,1439194000,-2147483648,104354000,40524000,-2147483648,...,-2043571296,431240000,-182363000,-2147483648,-2147483648,-1442692592,1258211000,-2147483648,-2147483648,-2147483648
HP,107754000,108570000,774927000,445948000,128541000,1439194000,-2147483648,104354000,40524000,-2147483648,...,-2043571296,431240000,-182363000,-2147483648,-2147483648,-1442692592,1277001000,-2147483648,-2147483648,-2147483648
HP,107754000,108570000,774927000,445948000,128541000,1439194000,-2147483648,104354000,40524000,-2147483648,...,-2043571296,431240000,-182363000,-2147483648,-2147483648,-1442692592,1439194000,-2147483648,-2147483648,-2147483648