In [1]:
def clean_stuff(df):
    df.drop(['SimFinId', 'Currency'], inplace= True, errors='ignore', axis=1)
    df = df.groupby(['Ticker','Fiscal Year']).mean().dropna().astype(int)
    return df

In [2]:
import pandas as pd 
from pathlib import Path

In [3]:
def re_index(df):
    df = df.reset_index(inplace=True)
    return df

In [4]:
def merge_df(df1_one, df_two):
    df_ret = pd.DataFrame()
    df_ret  = df1_one.merge(df_two, on='Ticker')
    df_ret.drop(columns=['Fiscal Year_y'], inplace=True, errors='ignore')
    return df_ret

In [5]:
us_balance_annual = pd.read_csv(
    Path('us-balance-annual.csv'),
    parse_dates=True,
    infer_datetime_format=True,
    delimiter=';')

In [6]:
balance_data = clean_stuff(us_balance_annual)
balance_data

                    Shares (Basic)  Shares (Diluted)  \
Ticker Fiscal Year
A      2009              346000000         346000000
       2010              347000000         353000000
       2011              347000000         355000000
       2012              348000000         353000000
       2016              326000000         329000000
...                            ...               ...
XRX    2012              325513250         332296000
       2013              306371500         318381750
       2014              288591250         292899250
       2018              248707000         251660000
ZAGG   2012               30339000          31656000

                    Cash, Cash Equivalents & Short Term Investments  \
Ticker Fiscal Year
A      2009                                             -2147483648
       2010                                             -2147483648
       2011                                             -2147483648
       2012                                             -2147483648
       2016                                             -2147483648
...                                                             ...
XRX    2012                                              1246000000
       2013                                              1764000000
       2014                                              1411000000
       2018                                              1084000000
ZAGG   2012                                                20177000

                    Accounts & Notes Receivable  Inventories  \
Ticker Fiscal Year
A      2009                           595000000    552000000
       2010                           869000000    716000000
       2011                           860000000    898000000
       2012                           923000000   1014000000
       2016                           631000000    533000000
...                                         ...          ...
XRX    2012                         -2147483648   1011000000
       2013                         -2147483648    998000000
       2014                         -2147483648    934000000
       2018                          1276000000    818000000
ZAGG   2012                            54561000     39988000

                    Total Current Assets  Property, Plant & Equipment, Net  \
Ticker Fiscal Year
A      2009                  -2147483648                         845000000
       2010                  -2147483648                         980000000
       2011                  -2147483648                        1006000000
       2012                  -2147483648                        1164000000
       2016                  -2147483648                         639000000
...                                  ...                               ...
XRX    2012                  -2147483648                        2091000000
       2013                  -2147483648                        2025000000
       2014                  -2147483648                        1648000000
       2018                  -2147483648                         941000000
ZAGG   2012                    131185000                           4862000

                    Long Term Investments & Receivables  \
Ticker Fiscal Year
A      2009                                   163000000
       2010                                   142000000
       2011                                   117000000
       2012                                   109000000
       2016                                   135000000
...                                                 ...
XRX    2012                                  1381000000
       2013                                  1285000000
       2014                                  1338000000
       2018                                  1403000000
ZAGG   2012                                     2013000

                    Other Long Term Assets  Total Noncurrent Assets  ...  \
Ticker Fiscal Year                                                   ...
A      2009                    -2147483648              -2147483648  ...
       2010                    -2147483648              -2147483648  ...
       2011                    -2147483648              -2147483648  ...
       2012                    -2147483648              -2147483648  ...
       2016                    -2147483648              -2147483648  ...
...                                    ...                      ...  ...
XRX    2012                    -2147483648              -2147483648  ...
       2013                    -2147483648              -2147483648  ...
       2014                    -2147483648              -2147483648  ...
       2018                    -2147483648              -2147483648  ...
ZAGG   2012                       68025000                 74900000  ...

                    Short Term Debt  Total Current Liabilities  \
Ticker Fiscal Year
A      2009                 1000000                 1123000000
       2010              1501000000                -2147483648
       2011               253000000                 1837000000
       2012               250000000                 1893000000
       2016                       0                  945000000
...                             ...                        ...
XRX    2012              1042000000                -2147483648
       2013              1117000000                -2147483648
       2014              1427000000                -2147483648
       2018               961000000                -2147483648
ZAGG   2012                 6000000                   63989000

                    Long Term Debt  Total Noncurrent Liabilities  \
Ticker Fiscal Year
A      2009            -2147483648                   -2147483648
       2010            -2147483648                   -2147483648
       2011             1932000000                   -2147483648
       2012             2112000000                   -2147483648
       2016             1904000000                   -2147483648
...                            ...                           ...
XRX    2012            -2147483648                   -2147483648
       2013            -2147483648                   -2147483648
       2014            -2147483648                   -2147483648
       2018            -2147483648                   -2147483648
ZAGG   2012               17434000                      17434000

                    Total Liabilities  \
Ticker Fiscal Year
A      2009                 803032704
       2010               -2129934592
       2011                 446032704
       2012                1056032704
       2016                -746967296
...                               ...
XRX    2012                 822130816
       2013                -911869184
       2014                -623869184
       2018                1031065408
ZAGG   2012                  81423000

                    Share Capital & Additional Paid-In Capital  \
Ticker Fiscal Year
A      2009                                        -2147483648
       2010                                        -2147483648
       2011                                        -2147483648
       2012                                        -2147483648
       2016                                        -2147483648
...                                                        ...
XRX    2012                                        -2147483648
       2013                                        -2147483648
       2014                                        -2147483648
       2018                                        -2147483648
ZAGG   2012                                           77265000

                    Treasury Stock  Retained Earnings  Total Equity  \
Ticker Fiscal Year
A      2009            -2147483648        -2147483648   -2147483648
       2010            -2147483648        -2147483648   -2147483648
       2011            -2147483648        -2147483648   -2147483648
       2012            -2147483648        -2147483648   -2147483648
       2016            -2147483648        -2147483648   -2147483648
...                            ...                ...           ...
XRX    2012             -104000000        -2147483648   -2147483648
       2013             -252000000        -2147483648   -2147483648
       2014             -105000000        -2147483648   -2147483648
       2018              -55000000        -2147483648   -2147483648
ZAGG   2012                      0           47454000     124662000

                    Total Liabilities & Equity
Ticker Fiscal Year
A      2009                         -977934592
       2010                         1106065408
       2011                          467065408
       2012                         1946065408
       2016                         -795934592
...                                        ...
XRX    2012                          -49771072
       2013                        -1028771072
       2014                         1888196224
       2018                         1989098112
ZAGG   2012                          206085000

[1265 rows x 22 columns]

In [7]:
balance_sheet_cash_equal = balance_data[["Cash, Cash Equivalents & Short Term Investments", 
                                  "Accounts & Notes Receivable", 
                                  'Treasury Stock', 
                                  'Retained Earnings']]
balance_sheet_cash_equal

                    Cash, Cash Equivalents & Short Term Investments  \
Ticker Fiscal Year
A      2009                                             -2147483648
       2010                                             -2147483648
       2011                                             -2147483648
       2012                                             -2147483648
       2016                                             -2147483648
...                                                             ...
XRX    2012                                              1246000000
       2013                                              1764000000
       2014                                              1411000000
       2018                                              1084000000
ZAGG   2012                                                20177000

                    Accounts & Notes Receivable  Treasury Stock  \
Ticker Fiscal Year
A      2009                           595000000     -2147483648
       2010                           869000000     -2147483648
       2011                           860000000     -2147483648
       2012                           923000000     -2147483648
       2016                           631000000     -2147483648
...                                         ...             ...
XRX    2012                         -2147483648      -104000000
       2013                         -2147483648      -252000000
       2014                         -2147483648      -105000000
       2018                          1276000000       -55000000
ZAGG   2012                            54561000               0

                    Retained Earnings
Ticker Fiscal Year
A      2009               -2147483648
       2010               -2147483648
       2011               -2147483648
       2012               -2147483648
       2016               -2147483648
...                               ...
XRX    2012               -2147483648
       2013               -2147483648
       2014               -2147483648
       2018               -2147483648
ZAGG   2012                  47454000

[1265 rows x 4 columns]

In [8]:
re_index(balance_sheet_cash_equal)

In [9]:
bal_sheet_cash_set = balance_sheet_cash_equal.set_index(['Ticker'])

In [10]:
bal_sheet_cash_set

,Fiscal Year,"Cash, Cash Equivalents & Short Term Investments",Accounts & Notes Receivable,Treasury Stock,Retained Earnings
Ticker,,,,,
A,2009,-2147483648,595000000,-2147483648,-2147483648
A,2010,-2147483648,869000000,-2147483648,-2147483648
A,2011,-2147483648,860000000,-2147483648,-2147483648
A,2012,-2147483648,923000000,-2147483648,-2147483648
A,2016,-2147483648,631000000,-2147483648,-2147483648
...,...,...,...,...,...
XRX,2012,1246000000,-2147483648,-104000000,-2147483648
XRX,2013,1764000000,-2147483648,-252000000,-2147483648
XRX,2014,1411000000,-2147483648,-105000000,-2147483648
XRX,2018,1084000000,1276000000,-55000000,-2147483648
ZAGG,2012,20177000,54561000,0,47454000

In [141]:
balance_sheet_tanglibles_gold = balance_data[['Total Current Assets', "Property, Plant & Equipment, Net",
                           "Retained Earnings", 
                           "Total Equity"]]

balance_sheet_tanglibles_gold

                    Total Current Assets  Property, Plant & Equipment, Net  \
Ticker Fiscal Year
A      2009                  -2147483648                         845000000
       2010                  -2147483648                         980000000
       2011                  -2147483648                        1006000000
       2012                  -2147483648                        1164000000
       2016                  -2147483648                         639000000
...                                  ...                               ...
XRX    2012                  -2147483648                        2091000000
       2013                  -2147483648                        2025000000
       2014                  -2147483648                        1648000000
       2018                  -2147483648                         941000000
ZAGG   2012                    131185000                           4862000

                    Retained Earnings  Total Equity
Ticker Fiscal Year
A      2009               -2147483648   -2147483648
       2010               -2147483648   -2147483648
       2011               -2147483648   -2147483648
       2012               -2147483648   -2147483648
       2016               -2147483648   -2147483648
...                               ...           ...
XRX    2012               -2147483648   -2147483648
       2013               -2147483648   -2147483648
       2014               -2147483648   -2147483648
       2018               -2147483648   -2147483648
ZAGG   2012                  47454000     124662000

[1265 rows x 4 columns]

In [142]:
re_index(balance_sheet_tanglibles_gold)

In [143]:
bal_sheet_tangibles_set = balance_sheet_tanglibles_gold.set_index(["Ticker"])
bal_sheet_tangibles_set

,Fiscal Year,Total Current Assets,"Property, Plant & Equipment, Net",Retained Earnings,Total Equity
Ticker,,,,,
A,2009,-2147483648,845000000,-2147483648,-2147483648
A,2010,-2147483648,980000000,-2147483648,-2147483648
A,2011,-2147483648,1006000000,-2147483648,-2147483648
A,2012,-2147483648,1164000000,-2147483648,-2147483648
A,2016,-2147483648,639000000,-2147483648,-2147483648
...,...,...,...,...,...
XRX,2012,-2147483648,2091000000,-2147483648,-2147483648
XRX,2013,-2147483648,2025000000,-2147483648,-2147483648
XRX,2014,-2147483648,1648000000,-2147483648,-2147483648
XRX,2018,-2147483648,941000000,-2147483648,-2147483648
ZAGG,2012,131185000,4862000,47454000,124662000

In [144]:
balance_sheet_intanglibles = balance_data[
    ['Treasury Stock', 
     'Long Term Investments & Receivables', 
     'Shares (Basic)', 
     'Shares (Diluted)']]

balance_intan_gold = balance_sheet_intanglibles

In [145]:
re_index(balance_intan_gold)

In [146]:
balance_sheet_intangible_set = balance_intan_gold.set_index(['Ticker'])
balance_sheet_intangible_set

,Fiscal Year,Treasury Stock,Long Term Investments & Receivables,Shares (Basic),Shares (Diluted)
Ticker,,,,,
A,2009,-2147483648,163000000,346000000,346000000
A,2010,-2147483648,142000000,347000000,353000000
A,2011,-2147483648,117000000,347000000,355000000
A,2012,-2147483648,109000000,348000000,353000000
A,2016,-2147483648,135000000,326000000,329000000
...,...,...,...,...,...
XRX,2012,-104000000,1381000000,325513250,332296000
XRX,2013,-252000000,1285000000,306371500,318381750
XRX,2014,-105000000,1338000000,288591250,292899250
XRX,2018,-55000000,1403000000,248707000,251660000
ZAGG,2012,0,2013000,30339000,31656000

In [147]:
balance_data_neg = balance_data[
    ["Inventories",
     "Share Capital & Additional Paid-In Capital", 
     "Payables & Accruals", "Total Noncurrent Liabilities", 
     "Long Term Debt", 
     'Total Liabilities & Equity', 
     'Total Current Liabilities']]

balance_sheet_neg_gold = balance_data_neg

In [148]:
re_index(balance_sheet_neg_gold)

In [149]:
balance_sheet_neg_set = balance_sheet_neg_gold.set_index(['Ticker'])
balance_sheet_neg_set

,Fiscal Year,Inventories,Share Capital & Additional Paid-In Capital,Payables & Accruals,Total Noncurrent Liabilities,Long Term Debt,Total Liabilities & Equity,Total Current Liabilities
Ticker,,,,,,,,
A,2009,552000000,-2147483648,307000000,-2147483648,-2147483648,-977934592,1123000000
A,2010,716000000,-2147483648,499000000,-2147483648,-2147483648,1106065408,-2147483648
A,2011,898000000,-2147483648,472000000,-2147483648,1932000000,467065408,1837000000
A,2012,1014000000,-2147483648,461000000,-2147483648,2112000000,1946065408,1893000000
A,2016,533000000,-2147483648,257000000,-2147483648,1904000000,-795934592,945000000
...,...,...,...,...,...,...,...,...
XRX,2012,1011000000,-2147483648,-2147483648,-2147483648,-2147483648,-49771072,-2147483648
XRX,2013,998000000,-2147483648,-2147483648,-2147483648,-2147483648,-1028771072,-2147483648
XRX,2014,934000000,-2147483648,-2147483648,-2147483648,-2147483648,1888196224,-2147483648
XRX,2018,818000000,-2147483648,1440000000,-2147483648,-2147483648,1989098112,-2147483648
ZAGG,2012,39988000,77265000,28397000,17434000,17434000,206085000,63989000

In [150]:


us_shareprice_df = pd.read_csv(
    Path('us-shareprices-daily.csv'),
    
    parse_dates=True,
    infer_datetime_format=True,
    delimiter=';'
)

us_shareprice_df.head()

,Ticker,SimFinId,Date,Open,Low,High,Close,Adj. Close,Dividend,Volume,Shares Outstanding
0,GOOG,18,2014-03-27,568.00,552.92,568.00,558.46,558.46,NaN,13100,336050831.0
1,GOOG,18,2014-03-28,561.20,558.67,566.43,559.99,559.99,NaN,41100,336050831.0
2,GOOG,18,2014-03-31,566.89,556.93,567.00,556.97,556.97,NaN,10800,674462000.0
3,GOOG,18,2014-04-01,558.71,558.71,568.45,567.16,567.16,NaN,7900,674462000.0
4,GOOG,18,2014-04-02,565.11,562.19,604.83,567.00,567.00,NaN,146700,674462000.0

In [151]:
ticker_data_w = us_shareprice_df.groupby(['Ticker','Date']).mean()
ticker_data_w = pd.DataFrame(ticker_data_w['Adj. Close'])
ticker_data_w

                   Adj. Close
Ticker Date
A      2007-01-03       22.72
       2007-01-04       22.80
       2007-01-05       22.58
       2007-01-08       22.51
       2007-01-09       22.53
...                       ...
ZYXI   2020-02-11        9.88
       2020-02-12       10.32
       2020-02-13       10.26
       2020-02-14       10.16
       2020-02-18       10.18

[5982676 rows x 1 columns]

In [152]:
test_tickers = ticker_data_w.loc[['CNK','DISH','ABBV','BA','TAP']]
test_tickers= pd.date_range(start='2014-05-11',end='2019-10-22', freq='BQ')
test_tickers

DatetimeIndex(['2014-06-30', '2014-09-30', '2014-12-31', '2015-03-31',
               '2015-06-30', '2015-09-30', '2015-12-31', '2016-03-31',
               '2016-06-30', '2016-09-30', '2016-12-30', '2017-03-31',
               '2017-06-30', '2017-09-29', '2017-12-29', '2018-03-30',
               '2018-06-29', '2018-09-28', '2018-12-31', '2019-03-29',
               '2019-06-28', '2019-09-30'],
              dtype='datetime64[ns]', freq='BQ-DEC')

In [161]:
titas_tech_tickers = ticker_data_w.loc[['HP','AMD','MU','AME','IBM']]

titas_tech_tickers

                   Adj. Close
Ticker Date
HP     2007-01-03       15.28
       2007-01-04       15.22
       2007-01-05       15.27
       2007-01-08       15.36
       2007-01-09       15.44
...                       ...
IBM    2020-02-11      151.44
       2020-02-12      153.25
       2020-02-13      152.26
       2020-02-14      148.70
       2020-02-18      149.10

[16520 rows x 1 columns]

In [162]:
balance_cash_vs_neg_cash = merge_df(bal_sheet_cash_set, balance_sheet_neg_set)
balance_cash_vs_neg_cash

,Fiscal Year_x,"Cash, Cash Equivalents & Short Term Investments",Accounts & Notes Receivable,Treasury Stock,Retained Earnings,Inventories,Share Capital & Additional Paid-In Capital,Payables & Accruals,Total Noncurrent Liabilities,Long Term Debt,Total Liabilities & Equity,Total Current Liabilities
Ticker,,,,,,,,,,,,
A,2009,-2147483648,595000000,-2147483648,-2147483648,552000000,-2147483648,307000000,-2147483648,-2147483648,-977934592,1123000000
A,2009,-2147483648,595000000,-2147483648,-2147483648,716000000,-2147483648,499000000,-2147483648,-2147483648,1106065408,-2147483648
A,2009,-2147483648,595000000,-2147483648,-2147483648,898000000,-2147483648,472000000,-2147483648,1932000000,467065408,1837000000
A,2009,-2147483648,595000000,-2147483648,-2147483648,1014000000,-2147483648,461000000,-2147483648,2112000000,1946065408,1893000000
A,2009,-2147483648,595000000,-2147483648,-2147483648,533000000,-2147483648,257000000,-2147483648,1904000000,-795934592,945000000
...,...,...,...,...,...,...,...,...,...,...,...,...
XRX,2018,1084000000,1276000000,-55000000,-2147483648,1011000000,-2147483648,-2147483648,-2147483648,-2147483648,-49771072,-2147483648
XRX,2018,1084000000,1276000000,-55000000,-2147483648,998000000,-2147483648,-2147483648,-2147483648,-2147483648,-1028771072,-2147483648
XRX,2018,1084000000,1276000000,-55000000,-2147483648,934000000,-2147483648,-2147483648,-2147483648,-2147483648,1888196224,-2147483648
XRX,2018,1084000000,1276000000,-55000000,-2147483648,818000000,-2147483648,1440000000,-2147483648,-2147483648,1989098112,-2147483648
ZAGG,2012,20177000,54561000,0,47454000,39988000,77265000,28397000,17434000,17434000,206085000,63989000

In [163]:
balance_cash_vs_neg_cash_new = balance_cash_vs_neg_cash_new
balance_cash_vs_neg_cash_new

Fiscal Year_x                                            2008
Cash, Cash Equivalents & Short Term Investments     559132000
Accounts & Notes Receivable                         820709000
Treasury Stock                                    -1443786000
Retained Earnings                                 -2147483648
Inventories                                         426671000
Share Capital & Additional Paid-In Capital         2095482000
Payables & Accruals                                2083599000
Total Noncurrent Liabilities                      -2147483648
Long Term Debt                                    -2147483648
Total Liabilities & Equity                        -2129887592
Total Current Liabilities                         -2147483648
Name: DISH, dtype: int64

In [164]:
balance_cash_vs_neg_cash_new = balance_cash_vs_neg_cash.loc[['CNK','DISH','ABBV','BA','TAP']]
balance_cash_vs_neg_cash_new

,Fiscal Year_x,"Cash, Cash Equivalents & Short Term Investments",Accounts & Notes Receivable,Treasury Stock,Retained Earnings,Inventories,Share Capital & Additional Paid-In Capital,Payables & Accruals,Total Noncurrent Liabilities,Long Term Debt,Total Liabilities & Equity,Total Current Liabilities
Ticker,,,,,,,,,,,,
CNK,2010,464997000,50607000,-44725000,388000,11686000,1037703000,251808000,2116386000,1654417000,-873489296,271940000
CNK,2010,464997000,50607000,-44725000,388000,11284000,1047355000,283243000,-2147483648,1691609000,-772559296,305027000
CNK,2010,464997000,50607000,-44725000,388000,12571000,1064134000,302694000,-2147483648,1893571000,-431741296,338204000
CNK,2010,464997000,50607000,-44725000,388000,13735000,1079423000,370975000,-2147483648,2025453000,-150804296,395712000
CNK,2010,464997000,50607000,-44725000,388000,13419000,1095160000,382132000,-2147483648,1985133000,-174406296,414407000
...,...,...,...,...,...,...,...,...,...,...,...,...
TAP,2015,430900000,407900000,-471400000,-2147483648,207200000,-2147483648,915300000,-2147483648,1914900000,-461101888,1277200000
TAP,2015,430900000,407900000,-471400000,-2147483648,213900000,-2147483648,1186900000,-2147483648,-2147483648,-967669184,-2147483648
TAP,2015,430900000,407900000,-471400000,-2147483648,205300000,-2147483648,1429600000,-2147483648,-2147483648,-1599769184,-2147483648
TAP,2015,430900000,407900000,-471400000,-2147483648,202200000,-2147483648,1305000000,-2147483648,-2147483648,1095198112,-2147483648
TAP,2015,430900000,407900000,-471400000,-2147483648,179300000,-2147483648,1184400000,-2147483648,-2147483648,-608601888,1217200000

In [165]:
balance_cash_vs_neg_cash_tech = balance_cash_vs_neg_cash.loc[['HP','AMD','MU','AME','IBM']]
balance_cash_vs_neg_cash_tech

,Fiscal Year_x,"Cash, Cash Equivalents & Short Term Investments",Accounts & Notes Receivable,Treasury Stock,Retained Earnings,Inventories,Share Capital & Additional Paid-In Capital,Payables & Accruals,Total Noncurrent Liabilities,Long Term Debt,Total Liabilities & Equity,Total Current Liabilities
Ticker,,,,,,,,,,,,
HP,2008,121513000,462833000,-35654000,2082518000,33098000,180203000,282224000,1013614000,475000000,-706922296,308957000
HP,2008,121513000,462833000,-35654000,2082518000,39544000,186745000,179923000,1176109000,420000000,-133943296,301906000
HP,2008,121513000,462833000,-35654000,2082518000,54407000,221633000,296750000,1317115000,235000000,708923704,416729000
HP,2008,121513000,462833000,-35654000,2082518000,78777000,247000000,336035000,1504923000,195000000,1426117704,381164000
HP,2008,121513000,462833000,-35654000,2082518000,88866000,299632000,334063000,1368827000,80000000,1969859704,452273000
...,...,...,...,...,...,...,...,...,...,...,...,...
IBM,2019,-2147483648,-2147483648,-2147483648,-2147483648,1551000000,-2147483648,-2147483648,-2147483648,-2147483648,-1174149696,-2147483648
IBM,2019,-2147483648,-2147483648,-2147483648,-2147483648,1553000000,-2147483648,-2147483648,-2147483648,-2147483648,1503883008,-2147483648
IBM,2019,-2147483648,-2147483648,-2147483648,-2147483648,1583000000,-2147483648,-2147483648,-2147483648,-2147483648,800948416,-2147483648
IBM,2019,-2147483648,-2147483648,-2147483648,-2147483648,1682000000,-2147483648,-2147483648,-2147483648,-2147483648,-1171051584,-2147483648
IBM,2019,-2147483648,-2147483648,-2147483648,-2147483648,1619000000,-2147483648,-2147483648,-2147483648,-2147483648,1860144640,-2147483648

In [166]:
balance_intan_vs_tan = merge_df(balance_sheet_intangible_set,bal_sheet_tangibles_set)

In [167]:
balance_intan_vs_tan_tech =  balance_intan_vs_tan.loc[['HP','AMD','MU','AME','IBM']]
balance_intan_vs_tan_tech

,Fiscal Year_x,Treasury Stock,Long Term Investments & Receivables,Shares (Basic),Shares (Diluted),Total Current Assets,"Property, Plant & Equipment, Net",Retained Earnings,Total Equity
Ticker,,,,,,,,,
HP,2008,-35654000,199266000,104284000,106583000,690647000,-2147483648,2082518000,-2147483648
HP,2008,-35654000,199266000,104284000,106583000,522932000,-2147483648,-2147483648,-2147483648
HP,2008,-35654000,199266000,104284000,106583000,956313000,-2147483648,-2147483648,-2147483648
HP,2008,-35654000,199266000,104284000,106583000,895228000,-2147483648,-2147483648,-2147483648
HP,2008,-35654000,199266000,104284000,106583000,1258211000,-2147483648,-2147483648,-2147483648
...,...,...,...,...,...,...,...,...,...
IBM,2019,-2147483648,2074000000,887235105,892813376,-2147483648,-2147483648,-2147483648,-2147483648
IBM,2019,-2147483648,2074000000,887235105,892813376,-2147483648,-2147483648,-2147483648,-2147483648
IBM,2019,-2147483648,2074000000,887235105,892813376,-2147483648,-2147483648,-2147483648,-2147483648
IBM,2019,-2147483648,2074000000,887235105,892813376,-2147483648,-2147483648,-2147483648,-2147483648
IBM,2019,-2147483648,2074000000,887235105,892813376,-2147483648,-2147483648,-2147483648,-2147483648

In [168]:
balance_intan_vs_tan_new = balance_intan_vs_tan.loc[['CNK','DISH','ABBV','BA','TAP']]
balance_intan_vs_tan_new

,Fiscal Year_x,Treasury Stock,Long Term Investments & Receivables,Shares (Basic),Shares (Diluted),Total Current Assets,"Property, Plant & Equipment, Net",Retained Earnings,Total Equity
Ticker,,,,,,,,,
CNK,2010,-44725000,103207000,111565000,112151000,577053000,1215446000,388000,1033152000
CNK,2010,-44725000,103207000,111565000,112151000,627118000,1238850000,34423000,1023639000
CNK,2010,-44725000,103207000,111565000,112151000,845161000,1304958000,106111000,1094984000
CNK,2010,-44725000,103207000,111565000,112151000,729599000,1427190000,147764000,1102417000
CNK,2010,-44725000,103207000,111565000,112151000,741010000,1450812000,224219000,1123129000
...,...,...,...,...,...,...,...,...,...
TAP,2015,-471400000,-2147483648,185300000,186400000,2118000000,1430100000,-2147483648,-2147483648
TAP,2015,-471400000,-2147483648,185300000,186400000,1748000000,1995900000,-2147483648,-2147483648
TAP,2015,-471400000,-2147483648,185300000,186400000,1537700000,1970100000,-2147483648,-2147483648
TAP,2015,-471400000,-2147483648,185300000,186400000,1577100000,1798000000,-2147483648,-2147483648
TAP,2015,-471400000,-2147483648,185300000,186400000,1258800000,1590800000,-2147483648,-2147483648

In [169]:
balance_intan_vs_tan_tech = balance_intan_vs_tan.loc[['HP','AMD','MU','AME','IBM']]
balance_intan_vs_tan_tech.T

Ticker,HP,HP,HP,HP,HP,HP,HP,HP,HP,HP,...,IBM,IBM,IBM,IBM,IBM,IBM,IBM,IBM,IBM,IBM
Fiscal Year_x,2008,2008,2008,2008,2008,2008,2008,2009,2009,2009,...,2019,2019,2019,2019,2019,2019,2019,2019,2019,2019
Treasury Stock,-35654000,-35654000,-35654000,-35654000,-35654000,-35654000,-35654000,-31129000,-31129000,-31129000,...,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648
Long Term Investments & Receivables,199266000,199266000,199266000,199266000,199266000,199266000,199266000,356404000,356404000,356404000,...,2074000000,2074000000,2074000000,2074000000,2074000000,2074000000,2074000000,2074000000,2074000000,2074000000
Shares (Basic),104284000,104284000,104284000,104284000,104284000,104284000,104284000,105364000,105364000,105364000,...,887235105,887235105,887235105,887235105,887235105,887235105,887235105,887235105,887235105,887235105
Shares (Diluted),106583000,106583000,106583000,106583000,106583000,106583000,106583000,106608000,106608000,106608000,...,892813376,892813376,892813376,892813376,892813376,892813376,892813376,892813376,892813376,892813376
Total Current Assets,690647000,522932000,956313000,895228000,1258211000,1277001000,1439194000,690647000,522932000,956313000,...,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648
"Property, Plant & Equipment, Net",-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,...,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648
Retained Earnings,2082518000,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,2082518000,-2147483648,-2147483648,...,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648
Total Equity,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,...,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648

In [170]:
bal_int_tan_vs_eqcash = merge_df(balance_sheet_intangible_set, balance_sheet_cash_equal).drop(columns=['Treasury Stock_y'])
bal_int_tan_vs_eqcash.set_index('Ticker', inplace=True)

In [171]:
bal_int_tan_vs_eqcash_new = bal_int_tan_vs_eqcash.loc[['CNK','DISH','ABBV','BA','TAP']]
bal_int_tan_vs_eqcash_new

,Fiscal Year_x,Treasury Stock_x,Long Term Investments & Receivables,Shares (Basic),Shares (Diluted),"Cash, Cash Equivalents & Short Term Investments",Accounts & Notes Receivable,Retained Earnings
Ticker,,,,,,,,
CNK,2010,-44725000,103207000,111565000,112151000,464997000,50607000,388000
CNK,2010,-44725000,103207000,111565000,112151000,521408000,54757000,34423000
CNK,2010,-44725000,103207000,111565000,112151000,742664000,57122000,106111000
CNK,2010,-44725000,103207000,111565000,112151000,599929000,81519000,147764000
CNK,2010,-44725000,103207000,111565000,112151000,638869000,47917000,224219000
...,...,...,...,...,...,...,...,...
TAP,2015,-471400000,-2147483648,185300000,186400000,1078900000,529900000,-2147483648
TAP,2015,-471400000,-2147483648,185300000,186400000,624000000,608300000,-2147483648
TAP,2015,-471400000,-2147483648,185300000,186400000,442300000,572800000,-2147483648
TAP,2015,-471400000,-2147483648,185300000,186400000,624600000,488900000,-2147483648
TAP,2015,-471400000,-2147483648,185300000,186400000,430900000,407900000,-2147483648

In [172]:
bal_int_tan_vs_eqcash_tech = bal_int_tan_vs_eqcash.loc[['HP','AMD','MU','AME','IBM']]
bal_int_tan_vs_eqcash_tech

,Fiscal Year_x,Treasury Stock_x,Long Term Investments & Receivables,Shares (Basic),Shares (Diluted),"Cash, Cash Equivalents & Short Term Investments",Accounts & Notes Receivable,Retained Earnings
Ticker,,,,,,,,
HP,2008,-35654000,199266000,104284000,106583000,121513000,462833000,2082518000
HP,2008,-35654000,199266000,104284000,106583000,108642000,233949000,-2147483648
HP,2008,-35654000,199266000,104284000,106583000,364246000,460540000,-2147483648
HP,2008,-35654000,199266000,104284000,106583000,96095000,620489000,-2147483648
HP,2008,-35654000,199266000,104284000,106583000,447868000,621420000,-2147483648
...,...,...,...,...,...,...,...,...
IBM,2019,-2147483648,2074000000,887235105,892813376,-2147483648,-2147483648,-2147483648
IBM,2019,-2147483648,2074000000,887235105,892813376,-2147483648,-2147483648,-2147483648
IBM,2019,-2147483648,2074000000,887235105,892813376,-2147483648,-2147483648,-2147483648
IBM,2019,-2147483648,2074000000,887235105,892813376,-2147483648,-2147483648,-2147483648
IBM,2019,-2147483648,2074000000,887235105,892813376,-2147483648,-2147483648,-2147483648

In [173]:
bal_tan_vs_eqcash = merge_df(bal_sheet_tangibles_set, balance_sheet_cash_equal)
bal_tan_vs_eqcash.set_index('Ticker', inplace=True)

In [174]:
bal_tan_vs_eqcash_new = bal_tan_vs_eqcash.loc[['CNK','DISH','ABBV','BA','TAP']]
bal_tan_vs_eqcash_new

,Fiscal Year_x,Total Current Assets,"Property, Plant & Equipment, Net",Retained Earnings_x,Total Equity,"Cash, Cash Equivalents & Short Term Investments",Accounts & Notes Receivable,Treasury Stock,Retained Earnings_y
Ticker,,,,,,,,,
CNK,2010,577053000,1215446000,388000,1033152000,464997000,50607000,-44725000,388000
CNK,2010,577053000,1215446000,388000,1033152000,521408000,54757000,-45219000,34423000
CNK,2010,577053000,1215446000,388000,1033152000,742664000,57122000,-48482000,106111000
CNK,2010,577053000,1215446000,388000,1033152000,599929000,81519000,-51946000,147764000
CNK,2010,577053000,1215446000,388000,1033152000,638869000,47917000,-61807000,224219000
...,...,...,...,...,...,...,...,...,...
TAP,2015,1258800000,1590800000,-2147483648,-2147483648,1078900000,529900000,-321100000,-2147483648
TAP,2015,1258800000,1590800000,-2147483648,-2147483648,624000000,608300000,-321100000,-2147483648
TAP,2015,1258800000,1590800000,-2147483648,-2147483648,442300000,572800000,-321100000,-2147483648
TAP,2015,1258800000,1590800000,-2147483648,-2147483648,624600000,488900000,-321100000,-2147483648
TAP,2015,1258800000,1590800000,-2147483648,-2147483648,430900000,407900000,-471400000,-2147483648

In [175]:
bal_tan_vs_eqcash = merge_df(bal_sheet_tangibles_set, balance_sheet_cash_equal)
bal_tan_vs_eqcash.set_index('Ticker', inplace=True)

In [176]:
bal_tan_vs_eqcash_new = bal_tan_vs_eqcash.loc[['CNK','DISH','ABBV','BA','TAP']]
bal_tan_vs_eqcash_new

,Fiscal Year_x,Total Current Assets,"Property, Plant & Equipment, Net",Retained Earnings_x,Total Equity,"Cash, Cash Equivalents & Short Term Investments",Accounts & Notes Receivable,Treasury Stock,Retained Earnings_y
Ticker,,,,,,,,,
CNK,2010,577053000,1215446000,388000,1033152000,464997000,50607000,-44725000,388000
CNK,2010,577053000,1215446000,388000,1033152000,521408000,54757000,-45219000,34423000
CNK,2010,577053000,1215446000,388000,1033152000,742664000,57122000,-48482000,106111000
CNK,2010,577053000,1215446000,388000,1033152000,599929000,81519000,-51946000,147764000
CNK,2010,577053000,1215446000,388000,1033152000,638869000,47917000,-61807000,224219000
...,...,...,...,...,...,...,...,...,...
TAP,2015,1258800000,1590800000,-2147483648,-2147483648,1078900000,529900000,-321100000,-2147483648
TAP,2015,1258800000,1590800000,-2147483648,-2147483648,624000000,608300000,-321100000,-2147483648
TAP,2015,1258800000,1590800000,-2147483648,-2147483648,442300000,572800000,-321100000,-2147483648
TAP,2015,1258800000,1590800000,-2147483648,-2147483648,624600000,488900000,-321100000,-2147483648
TAP,2015,1258800000,1590800000,-2147483648,-2147483648,430900000,407900000,-471400000,-2147483648

In [177]:
bal_tan_vs_eqcash_tech = bal_tan_vs_eqcash.loc[['HP','AMD','MU','AME','IBM']]
bal_tan_vs_eqcash_tech

,Fiscal Year_x,Total Current Assets,"Property, Plant & Equipment, Net",Retained Earnings_x,Total Equity,"Cash, Cash Equivalents & Short Term Investments",Accounts & Notes Receivable,Treasury Stock,Retained Earnings_y
Ticker,,,,,,,,,
HP,2008,690647000,-2147483648,2082518000,-2147483648,121513000,462833000,-35654000,2082518000
HP,2008,690647000,-2147483648,2082518000,-2147483648,108642000,233949000,-31129000,-2147483648
HP,2008,690647000,-2147483648,2082518000,-2147483648,364246000,460540000,-4704000,-2147483648
HP,2008,690647000,-2147483648,2082518000,-2147483648,96095000,620489000,-84104000,-2147483648
HP,2008,690647000,-2147483648,2082518000,-2147483648,447868000,621420000,-91098000,-2147483648
...,...,...,...,...,...,...,...,...,...
IBM,2019,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648
IBM,2019,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648
IBM,2019,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648
IBM,2019,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648
IBM,2019,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648

In [178]:
bal_tan_vs_neg_cash = merge_df(balance_sheet_neg_set, bal_sheet_tangibles_set)
bal_tan_vs_neg_cash

,Fiscal Year_x,Inventories,Share Capital & Additional Paid-In Capital,Payables & Accruals,Total Noncurrent Liabilities,Long Term Debt,Total Liabilities & Equity,Total Current Liabilities,Total Current Assets,"Property, Plant & Equipment, Net",Retained Earnings,Total Equity
Ticker,,,,,,,,,,,,
A,2009,552000000,-2147483648,307000000,-2147483648,-2147483648,-977934592,1123000000,-2147483648,845000000,-2147483648,-2147483648
A,2009,552000000,-2147483648,307000000,-2147483648,-2147483648,-977934592,1123000000,-2147483648,980000000,-2147483648,-2147483648
A,2009,552000000,-2147483648,307000000,-2147483648,-2147483648,-977934592,1123000000,-2147483648,1006000000,-2147483648,-2147483648
A,2009,552000000,-2147483648,307000000,-2147483648,-2147483648,-977934592,1123000000,-2147483648,1164000000,-2147483648,-2147483648
A,2009,552000000,-2147483648,307000000,-2147483648,-2147483648,-977934592,1123000000,-2147483648,639000000,-2147483648,-2147483648
...,...,...,...,...,...,...,...,...,...,...,...,...
XRX,2018,818000000,-2147483648,1440000000,-2147483648,-2147483648,1989098112,-2147483648,-2147483648,2091000000,-2147483648,-2147483648
XRX,2018,818000000,-2147483648,1440000000,-2147483648,-2147483648,1989098112,-2147483648,-2147483648,2025000000,-2147483648,-2147483648
XRX,2018,818000000,-2147483648,1440000000,-2147483648,-2147483648,1989098112,-2147483648,-2147483648,1648000000,-2147483648,-2147483648
XRX,2018,818000000,-2147483648,1440000000,-2147483648,-2147483648,1989098112,-2147483648,-2147483648,941000000,-2147483648,-2147483648
ZAGG,2012,39988000,77265000,28397000,17434000,17434000,206085000,63989000,131185000,4862000,47454000,124662000

In [156]:
bal_tan_vs_neg_cash_tech = bal_tan_vs_neg_cash.loc[['HP','AMD','MU','AME','IBM']]
bal_tan_vs_neg_cash_tech

,Fiscal Year_x,Inventories,Share Capital & Additional Paid-In Capital,Payables & Accruals,Total Noncurrent Liabilities,Long Term Debt,Total Liabilities & Equity,Total Current Liabilities,Total Current Assets,"Property, Plant & Equipment, Net",Retained Earnings,Total Equity
Ticker,,,,,,,,,,,,
HP,2008,33098000,180203000,282224000,1013614000,475000000,-706922296,308957000,690647000,-2147483648,2082518000,-2147483648
HP,2008,33098000,180203000,282224000,1013614000,475000000,-706922296,308957000,522932000,-2147483648,-2147483648,-2147483648
HP,2008,33098000,180203000,282224000,1013614000,475000000,-706922296,308957000,956313000,-2147483648,-2147483648,-2147483648
HP,2008,33098000,180203000,282224000,1013614000,475000000,-706922296,308957000,895228000,-2147483648,-2147483648,-2147483648
HP,2008,33098000,180203000,282224000,1013614000,475000000,-706922296,308957000,1258211000,-2147483648,-2147483648,-2147483648
...,...,...,...,...,...,...,...,...,...,...,...,...
IBM,2019,1619000000,-2147483648,-2147483648,-2147483648,-2147483648,1860144640,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648
IBM,2019,1619000000,-2147483648,-2147483648,-2147483648,-2147483648,1860144640,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648
IBM,2019,1619000000,-2147483648,-2147483648,-2147483648,-2147483648,1860144640,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648
IBM,2019,1619000000,-2147483648,-2147483648,-2147483648,-2147483648,1860144640,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648
IBM,2019,1619000000,-2147483648,-2147483648,-2147483648,-2147483648,1860144640,-2147483648,-2147483648,-2147483648,-2147483648,-2147483648

In [157]:
bal_tan_vs_neg_cash_new = bal_tan_vs_neg_cash.loc[['CNK','DISH','ABBV','BA','TAP']]
bal_tan_vs_neg_cash_new

,Fiscal Year_x,Inventories,Share Capital & Additional Paid-In Capital,Payables & Accruals,Total Noncurrent Liabilities,Long Term Debt,Total Liabilities & Equity,Total Current Liabilities,Total Current Assets,"Property, Plant & Equipment, Net",Retained Earnings,Total Equity
Ticker,,,,,,,,,,,,
CNK,2010,11686000,1037703000,251808000,2116386000,1654417000,-873489296,271940000,577053000,1215446000,388000,1033152000
CNK,2010,11686000,1037703000,251808000,2116386000,1654417000,-873489296,271940000,627118000,1238850000,34423000,1023639000
CNK,2010,11686000,1037703000,251808000,2116386000,1654417000,-873489296,271940000,845161000,1304958000,106111000,1094984000
CNK,2010,11686000,1037703000,251808000,2116386000,1654417000,-873489296,271940000,729599000,1427190000,147764000,1102417000
CNK,2010,11686000,1037703000,251808000,2116386000,1654417000,-873489296,271940000,741010000,1450812000,224219000,1123129000
...,...,...,...,...,...,...,...,...,...,...,...,...
TAP,2015,179300000,-2147483648,1184400000,-2147483648,-2147483648,-608601888,1217200000,2118000000,1430100000,-2147483648,-2147483648
TAP,2015,179300000,-2147483648,1184400000,-2147483648,-2147483648,-608601888,1217200000,1748000000,1995900000,-2147483648,-2147483648
TAP,2015,179300000,-2147483648,1184400000,-2147483648,-2147483648,-608601888,1217200000,1537700000,1970100000,-2147483648,-2147483648
TAP,2015,179300000,-2147483648,1184400000,-2147483648,-2147483648,-608601888,1217200000,1577100000,1798000000,-2147483648,-2147483648
TAP,2015,179300000,-2147483648,1184400000,-2147483648,-2147483648,-608601888,1217200000,1258800000,1590800000,-2147483648,-2147483648

In [158]:
bal_neg_vs_intan = merge_df(balance_sheet_neg_set,balance_sheet_intangible_set)
bal_neg_vs_intan

,Fiscal Year_x,Inventories,Share Capital & Additional Paid-In Capital,Payables & Accruals,Total Noncurrent Liabilities,Long Term Debt,Total Liabilities & Equity,Total Current Liabilities,Treasury Stock,Long Term Investments & Receivables,Shares (Basic),Shares (Diluted)
Ticker,,,,,,,,,,,,
A,2009,552000000,-2147483648,307000000,-2147483648,-2147483648,-977934592,1123000000,-2147483648,163000000,346000000,346000000
A,2009,552000000,-2147483648,307000000,-2147483648,-2147483648,-977934592,1123000000,-2147483648,142000000,347000000,353000000
A,2009,552000000,-2147483648,307000000,-2147483648,-2147483648,-977934592,1123000000,-2147483648,117000000,347000000,355000000
A,2009,552000000,-2147483648,307000000,-2147483648,-2147483648,-977934592,1123000000,-2147483648,109000000,348000000,353000000
A,2009,552000000,-2147483648,307000000,-2147483648,-2147483648,-977934592,1123000000,-2147483648,135000000,326000000,329000000
...,...,...,...,...,...,...,...,...,...,...,...,...
XRX,2018,818000000,-2147483648,1440000000,-2147483648,-2147483648,1989098112,-2147483648,-104000000,1381000000,325513250,332296000
XRX,2018,818000000,-2147483648,1440000000,-2147483648,-2147483648,1989098112,-2147483648,-252000000,1285000000,306371500,318381750
XRX,2018,818000000,-2147483648,1440000000,-2147483648,-2147483648,1989098112,-2147483648,-105000000,1338000000,288591250,292899250
XRX,2018,818000000,-2147483648,1440000000,-2147483648,-2147483648,1989098112,-2147483648,-55000000,1403000000,248707000,251660000
ZAGG,2012,39988000,77265000,28397000,17434000,17434000,206085000,63989000,0,2013000,30339000,31656000

In [159]:
bal_neg_vs_intan_new = bal_neg_vs_intan.loc[['CNK','DISH','ABBV','BA','TAP']]
bal_neg_vs_intan_new

,Fiscal Year_x,Inventories,Share Capital & Additional Paid-In Capital,Payables & Accruals,Total Noncurrent Liabilities,Long Term Debt,Total Liabilities & Equity,Total Current Liabilities,Treasury Stock,Long Term Investments & Receivables,Shares (Basic),Shares (Diluted)
Ticker,,,,,,,,,,,,
CNK,2010,11686000,1037703000,251808000,2116386000,1654417000,-873489296,271940000,-44725000,103207000,111565000,112151000
CNK,2010,11686000,1037703000,251808000,2116386000,1654417000,-873489296,271940000,-45219000,94547000,112736000,113224000
CNK,2010,11686000,1037703000,251808000,2116386000,1654417000,-873489296,271940000,-48482000,78123000,113216000,113824000
CNK,2010,11686000,1037703000,251808000,2116386000,1654417000,-873489296,271940000,-51946000,178853000,113896000,114396000
CNK,2010,11686000,1037703000,251808000,2116386000,1654417000,-873489296,271940000,-61807000,178939000,114653000,114966000
...,...,...,...,...,...,...,...,...,...,...,...,...
TAP,2015,179300000,-2147483648,1184400000,-2147483648,-2147483648,-608601888,1217200000,-321100000,-2147483648,184900000,186400000
TAP,2015,179300000,-2147483648,1184400000,-2147483648,-2147483648,-608601888,1217200000,-321100000,-2147483648,180800000,181800000
TAP,2015,179300000,-2147483648,1184400000,-2147483648,-2147483648,-608601888,1217200000,-321100000,-2147483648,183000000,184200000
TAP,2015,179300000,-2147483648,1184400000,-2147483648,-2147483648,-608601888,1217200000,-321100000,-2147483648,184900000,186100000
TAP,2015,179300000,-2147483648,1184400000,-2147483648,-2147483648,-608601888,1217200000,-471400000,-2147483648,185300000,186400000

In [160]:
bal_neg_vs_intan_tech = bal_neg_vs_intan.loc[['HP','AMD','MU','AME','IBM']]
bal_neg_vs_intan_tech

,Fiscal Year_x,Inventories,Share Capital & Additional Paid-In Capital,Payables & Accruals,Total Noncurrent Liabilities,Long Term Debt,Total Liabilities & Equity,Total Current Liabilities,Treasury Stock,Long Term Investments & Receivables,Shares (Basic),Shares (Diluted)
Ticker,,,,,,,,,,,,
HP,2008,33098000,180203000,282224000,1013614000,475000000,-706922296,308957000,-35654000,199266000,104284000,106583000
HP,2008,33098000,180203000,282224000,1013614000,475000000,-706922296,308957000,-31129000,356404000,105364000,106608000
HP,2008,33098000,180203000,282224000,1013614000,475000000,-706922296,308957000,-4704000,347924000,106643000,108632000
HP,2008,33098000,180203000,282224000,1013614000,475000000,-706922296,308957000,-84104000,451144000,106819000,108377000
HP,2008,33098000,180203000,282224000,1013614000,475000000,-706922296,308957000,-91098000,316154000,106286000,107879000
...,...,...,...,...,...,...,...,...,...,...,...,...
IBM,2019,1619000000,-2147483648,-2147483648,-2147483648,-2147483648,1860144640,-2147483648,-2147483648,-2147483648,978744523,982700267
IBM,2019,1619000000,-2147483648,-2147483648,-2147483648,-2147483648,1860144640,-2147483648,-2147483648,-2147483648,955422530,958714097
IBM,2019,1619000000,-2147483648,-2147483648,-2147483648,-2147483648,1860144640,-2147483648,-2147483648,-2147483648,932828295,937385625
IBM,2019,1619000000,-2147483648,-2147483648,-2147483648,-2147483648,1860144640,-2147483648,-2147483648,-2147483648,912048072,916315714
IBM,2019,1619000000,-2147483648,-2147483648,-2147483648,-2147483648,1860144640,-2147483648,-2147483648,2074000000,887235105,892813376